In [5]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_json('data/nobel_winners_dirty.json')

In [14]:
df.describe(include='all')

,born_in,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text,year
count,1052,1052,1052,1044,1044,1040,1052,1052,1044,1044,1052,1052.000000
unique,40,7,59,853,563,2,893,998,735,410,1043,NaN
top,,Physiology or Medicine,United States,7 November 1867,,male,http://en.wikipedia.org/wiki/Michael_Levitt,John Bardeen,,,"Robert Aumann , born in Germany , Economics, ...",NaN
freq,910,250,350,4,362,982,4,2,29,409,2,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1968.729087
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.155829
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1809.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1947.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1975.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1996.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.000000

In [12]:
df.describe(include=['object'])
### object: statistics for string Data

,born_in,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text
count,1052,1052,1052,1044,1044,1040,1052,1052,1044,1044,1052
unique,40,7,59,853,563,2,893,998,735,410,1043
top,,Physiology or Medicine,United States,7 November 1867,,male,http://en.wikipedia.org/wiki/Michael_Levitt,John Bardeen,,,"Robert Aumann , born in Germany , Economics, ..."
freq,910,250,350,4,362,982,4,2,29,409,2

In [32]:
df.columns

Index(['born_in', 'category', 'country', 'date_of_birth', 'date_of_death',
       'gender', 'link', 'name', 'place_of_birth', 'place_of_death', 'text',
       'year'],
      dtype='object')

In [33]:
df.columns[1]
### columns : index type: sequence

'category'

In [28]:
len(df[df.category =='Chemistry'].country.unique())
### unique: array(set(series))

25

In [29]:
df.shape

(1052, 12)

In [35]:
df_2 = df.set_index('name') ### slicing 이 편함, 또는 time series를 index로 놓고 시계열 분석
df_2.head(2)

,born_in,category,country,date_of_birth,date_of_death,gender,link,place_of_birth,place_of_death,text,year
name,,,,,,,,,,,
César Milstein,,Physiology or Medicine,Argentina,8 October 1927,24 March 2002,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , Physiology or Medicine, 1984",1984
Ivo Andric *,Bosnia and Herzegovina,Literature,,9 October 1892,13 March 1975,male,http://en.wikipedia.org/wiki/Ivo_Andric,"Dolac (village near Travnik), Austria-Hungary ...","Belgrade, SR Serbia, SFR Yugoslavia (present-d...","Ivo Andric *, born in then Austria–Hungary ,...",1961

In [39]:
bi_col = df.born_in
type(bi_col)

pandas.core.series.Series

In [40]:
df_2.iloc[0]

born_in
category                                    Physiology or Medicine
country                                                  Argentina
date_of_birth                                       8 October 1927
date_of_death                                        24 March 2002
gender                                                        male
link              http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein
place_of_birth                           Bahía Blanca ,  Argentina
place_of_death                                 Cambridge , England
text                 César Milstein , Physiology or Medicine, 1984
year                                                          1984
Name: César Milstein, dtype: object

In [42]:
df_2.loc['César Milstein']

,born_in,category,country,date_of_birth,date_of_death,gender,link,place_of_birth,place_of_death,text,year
name,,,,,,,,,,,
César Milstein,,Physiology or Medicine,Argentina,8 October 1927,24 March 2002,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , Physiology or Medicine, 1984",1984
César Milstein,,Physiology or Medicine,United Kingdom,8 October 1927,24 March 2002,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , born in Argentina , Physiolo...",1984

In [43]:
df[df.year>2000]

,born_in,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text,year
13,,Physics,Belgium,6 November 1932,,male,http://en.wikipedia.org/wiki/Fran%C3%A7ois_Eng...,François Englert,"Etterbeek , Brussels , Belgium",,"François Englert , Physics, 2013",2013
32,,Economics,Cyprus,1948-02-20,,male,http://en.wikipedia.org/wiki/Christopher_A._Pi...,Christopher A. Pissarides,"Nicosia, Cyprus",,"Christopher A. Pissarides , Economics, 2010",2010
66,,Peace,Ghana,8 April 1938,,male,http://en.wikipedia.org/wiki/Kofi_Annan,Kofi Annan,"Kumasi , Ghana",,"Kofi Annan , Peace, 2001",2001
87,Italy,Physics,,"October 6, 1931",,male,http://en.wikipedia.org/wiki/Riccardo_Giacconi,Riccardo Giacconi *,"Genoa , Italy",,"Riccardo Giacconi *, Physics, 2002",2002
88,Italy,Physiology or Medicine,,6 October 1937,,male,http://en.wikipedia.org/wiki/Mario_Capecchi,Mario Capecchi *,"Verona , Italy",,"Mario Capecchi *, Physiology or Medicine, 2007",2007
93,,Economics,Israel,"March 5, 1934",,male,http://en.wikipedia.org/wiki/Daniel_Kahneman,Daniel Kahneman,"Tel Aviv, Israel",,"Daniel Kahneman , Economics, 2002",2002
94,,Chemistry,Israel,"December 31, 1937",,male,http://en.wikipedia.org/wiki/Avram_Hershko,Avram Hershko,"Karcag, Hungary",,"Avram Hershko , born in Hungary , Chemistry, ...",2004
95,,Chemistry,Israel,"October 1, 1947",,male,http://en.wikipedia.org/wiki/Aaron_Ciechanover,Aaron Ciechanover,"Haifa, Mandatory Palestine",,"Aaron Ciechanover , Chemistry, 2004",2004
96,,Economics,Israel,"June 8, 1930",,male,http://en.wikipedia.org/wiki/Robert_Aumann,Robert Aumann,"Frankfurt am Main , Germany",,"Robert Aumann , born in Germany , Economics, ...",2005
97,,Physics,Netherlands,1 October 1958,,male,http://en.wikipedia.org/wiki/Andre_Geim,Andre Geim,"Sochi , Russia",,"Andre Geim , born in Russia , Physics, 2010",2010
103,Luxembourg,Physiology or Medicine,,2 August 1941,,male,http://en.wikipedia.org/wiki/Jules_A._Hoffmann,Jules A. Hoffmann *,Echternach,,"Jules A. Hoffmann *, Physiology or Medicine, 2011",2011
107,,Peace,Liberia,1 February 1972,,female,http://en.wikipedia.org/wiki/Leymah_Gbowee,Leymah Gbowee,Central Liberia,,"Leymah Gbowee , Peace, 2011",2011
108,,Peace,Liberia,29 October 1938,,female,http://en.wikipedia.org/wiki/Ellen_Johnson_Sir...,Ellen Johnson Sirleaf,"Monrovia , Liberia",,"Ellen Johnson Sirleaf , Peace, 2011",2011
112,,Peace,Kenya,1 April 1940,25 September 2011,female,http://en.wikipedia.org/wiki/Wangari_Muta_Maathai,Wangari Muta Maathai,"Ihithe village, Nyeri District , Kenya","Nairobi, Kenya","Wangari Muta Maathai , Peace, 2004",2004
126,South Africa,Physiology or Medicine,,13 January 1927,,male,http://en.wikipedia.org/wiki/Sydney_Brenner,Sydney Brenner *,"Germiston, Gauteng , South Africa",,"Sydney Brenner *, Physiology or Medicine, 2002",2002
127,,Literature,South Africa,9 February 1940,,male,http://en.wikipedia.org/wiki/J._M._Coetzee,J. M. Coetzee,"Cape Town, South Africa",,"J. M. Coetzee , Literature, 2003",2003
128,South Africa,Chemistry,,9 May 1947,,male,http://en.wikipedia.org/wiki/Michael_Levitt,Michael Levitt *,"Pretoria, South Africa",,"Michael Levitt *, Chemistry, 2013",2013
161,,Physics,United States,"December 16, 1969",,male,http://en.wikipedia.org/wiki/Adam_G._Riess,Adam G. Riess,"Washington, D.C., United States",,"Adam G. Riess , Physics, 2011",2011
162,,Physics,United States,"February 24, 1967",,male,http://en.wikipedia.org/wiki/Brian_P._Schmidt,Brian P. Schmidt,"Missoula, Montana",,"Brian P. Schmidt , Physics, 2011",2011
163,,Physics,United States,1959-09-22,,male,http://en.wikipedia.org/wiki/Saul_Perlmutter,Saul Perlmutter,"Champaign-Urbana , Illinois , U.S.",,"Saul Perlmutter , Physics, 2011",2011
164,,Economics,United States,"July 19, 1943",,male,http://en.wikipedia.org/wiki/Thomas_J._Sargent,Thomas J. Sargent,"Pasadena, California",,"Thomas J. Sargent , Economics, 2011",2011
165,,Economics,United States,"October 21, 1942",,male,http://en.wikipedia.org/wiki/Christopher_A._Sims,Christopher A. Sims,"Washington, D.C.",,"Christopher A. Sims , Economics, 2011",2011
166,,Physics,United States,"February 24, 1944",,male,http://en.wikipedia.org/wiki/David_J._Wineland,David J. Wineland,"Milwaukee, Wisconsin, USA",,"David J. Wineland , Physics, 2012",2012
167,,Chemistry,United States,1943-04-15,,male,http://en.wikipedia.org/wiki/Robert_J._Lefkowitz,Robert J. Lefkowitz,"Bronx, New York , United States",,"Robert J. Lefkowitz , Chemistry, 2012",2012
168,,Chemistry,United States,1955-05-30,,male,http://en.wikipedia.org/wiki/Brian_Kobilka,Brian K. Kobilka,"Little Falls, Minnesota , USA",,"Brian K. Kobilka , Chemistry, 2012",2012
169,,Economics,United States,"June 2, 1923",,male,http://en.wikipedia.org/wiki/Lloyd_S._Shapley,Lloyd S. Shapley,"Cambridge, Massachusetts",,"Lloyd S. Shapley , Economics, 2012",2012
170,,Economics,United States,1951-12-19,,male,http://en.wikipedia.org/wiki/Alvin_E._Roth,Alvin E. Roth,New York City,,"Alvin E. Roth , Economics, 2012",2012
171,,Physiology or Medicine,United States,"November 3, 1950",,male,http://en.wikipedia.org/wiki/James_Rothman,James Rothman,"Haverhill, Massachusetts",,"James Rothman , Physiology or Medicine, 2013",2013
172,,Physiology or Medicine,United States,"December 22, 1955",,male,http://en.wikipedia.org/wiki/Thomas_C._S%C3%BC...,Thomas C. Südhof,"Göttingen, Germany",,"Thomas C. Südhof , born in Germany , Physiolo...",2013
173,,Physiology or Medicine,United States,1948-12-30,,male,http://en.wikipedia.org/wiki/Randy_Schekman,Randy Schekman,"Saint Paul, Minnesota, USA",,"Randy Schekman , Physiology or Medicine, 2013",2013
...,...,...,...,...,...,...,...,...,...,...,...,...
903,,Physiology or Medicine,Germany,11 March 1936,,male,http://en.wikipedia.org/wiki/Harald_zur_Hausen,Harald zur Hausen,"Gelsenkirchen , Germany",,"Harald zur Hausen , Physiology or Medicine, 2008",2008
904,,Literature,Germany,17 August 1953,,female,http://en.wikipedia.org/wiki/Herta_M%C3%BCller,Herta Müller,"Nițchidorf , Timiș County , Romania",,"Herta Müller , born in Romania , Literature, ...",2009
905,,Physiology or Medicine,Germany,"December 22, 1955",,male,http://en.wikipedia.org/wiki/Thomas_C._S%C3%BC...,Thomas C. Südhof,"Göttingen, Germany",,"Thomas C. Südhof , Physiology or Medicine, 2013",2013
906,,Chemistry,Germany,"December 23, 1962",,male,http://en.wikipedia.org/wiki/Stefan_Hell,Stefan Hell,"Arad , Romania",,"Stefan Hell , born in Romania , Chemistry, 2014",2014
949,,Chemistry,France,"October 10, 1930",,male,http://en.wikipedia.org/wiki/Yves_Chauvin,Yves Chauvin,,,"Yves Chauvin , Chemistry, 2005",2005
950,,Physics,France,1938-03-07,,male,http://en.wikipedia.org/wiki/Albert_Fert,Albert Fert,"Carcassonne , France",,"Albert Fert , Physics, 2007",2007
951,,Physiology or Medicine,France,30 July 1947,,female,http://en.wikipedia.org/wiki/Fran%C3%A7oise_Ba...,Françoise Barré-Sinoussi,"Paris , France",,"Françoise Barré-Sinoussi , Physiology or Medic...",2008
952,,Physiology or Medicine,France,18 August 1932,,male,http://en.wikipedia.org/wiki/Luc_Montagnier,Luc Montagnier,"Chabris , France",,"Luc Montagnier , Physiology or Medicine, 2008",2008
953,,Literature,France,13 April 1940,,male,http://en.wikipedia.org/wiki/J._M._G._Le_Cl%C3...,J. M. G. Le Clézio,"Nice, France",,"J. M. G. Le Clézio , Literature, 2008",2008
954,,Physiology or Medicine,France,2 August 1941,,male,http://en.wikipedia.org/wiki/Jules_A._Hoffmann,Jules A. Hoffmann,Echternach,,"Jules A. Hoffmann , born in Luxembourg , Phys...",2011
955,,Physics,France,11 September 1944,,male,http://en.wikipedia.org/wiki/Serge_Haroche,Serge Haroche,"Casablanca , Morocco (then a French protect...",,"Serge Haroche , born in Morocco, then under F...",2012
956,,Literature,France,30 July 1945,,male,http://en.wikipedia.org/wiki/Patrick_Modiano,Patrick Modiano,"Boulogne-Billancourt , France",,"Patrick Modiano , Literature, 2014",2014
957,,Economics,France,"August 9, 1953",,male,http://en.wikipedia.org/wiki/Jean_Tirole,Jean Tirole,Troyes,,"Jean Tirole , Economics, 2014",2014
961,,Peace,Finland,23 June 1937,,male,http://en.wikipedia.org/wiki/Martti_Ahtisaari,Martti Ahtisaari,"Viipuri , Finland (now Vyborg, Russia)",,"Martti Ahtisaari , Peace, 2008",2008
966,,Peace,Egypt,17 June 1942,,male,http://en.wikipedia.org/wiki/Mohamed_ElBaradei,Mohamed ElBaradei,"Cairo , Egypt",,"Mohamed ElBaradei , Peace, 2005",2005
980,China,Physics,,1933-11-04,,male,http://en.wikipedia.org/wiki/Charles_K._Kao,Charles K. Kao *,"Shanghai, China",,"Charles K. Kao *, Physics, 2009",2009
981,,Peace,China,1955-12-28,,male,http://en.wikipedia.org/wiki/Liu_Xiaobo,Liu Xiaobo,"Changchun , Jilin, China",,"Liu Xiaobo , Peace, 2010",2010
982,,Literature,China,17 February 1955,,male,http://en.wikipedia.org/wiki/Mo_Yan,Mo Yan,"Gaomi , Shandong , China",,"Mo Yan , Literature, 2012",2012
1004,,Physiology or Medicine,Canada,"November 9, 1952",,male,http://en.wikipedia.org/wiki/Jack_W._Szostak,Jack W. Szostak,"London , United Kingdom",,"Jack W. Szostak , born in the United Kingdom ...",2009
1005,Canada,Physics,,"August 19, 1924","May 7, 2011",male,http://en.wikipedia.org/wiki/Willard_S._Boyle,Willard S. Boyle *,"Amherst , Nova Scotia , Canada","Wallace , Nova Scotia , Canada","Willard S. Boyle *, Physics, 2009",2009
1006,,Physiology or Medicine,Canada,"January 14, 1943","September 30, 2011",male,http://en.wikipedia.org/wiki/Ralph_M._Steinman,Ralph M. Steinman,"Montreal, Quebec, Canada","New York City, New York, U.S.","Ralph M. Steinman , Physiology or Medicine, 2011",2011
1007,,Literature,Canada,1931-07-10,,female,http://en.wikipedia.org/wiki/Alice_Munro,Alice Munro,"Wingham, Ontario , Canada",,"Alice Munro , Literature, 2013",2013
1011,,Peace,Bangladesh,28 June 1940,,male,http://en.wikipedia.org/wiki/Muhammad_Yunus,Muhammad Yunus,"Chittagong , British India",,"Muhammad Yunus , Peace, 2006",2006
1032,,Literature,Austria,20 October 1946,,female,http://en.wikipedia.org/wiki/Elfriede_Jelinek,Elfriede Jelinek,"Mürzzuschlag , Styria , Austria",,"Elfriede Jelinek , Literature, 2004",2004
1033,,Peace,Austria,None,None,None,http://en.wikipedia.org/wiki/International_Ato...,International Atomic Energy Agency,None,None,"International Atomic Energy Agency , Peace, 2005",2005
1034,Austria,Chemistry,,"March 15, 1930",,male,http://en.wikipedia.org/wiki/Martin_Karplus,Martin Karplus *,"Vienna , Austria",,"Martin Karplus *, Chemistry, 2013",2013
1044,,Physiology or Medicine,Australia,11 June 1937,,male,http://en.wikipedia.org/wiki/Robin_Warren,J. Robin Warren,"Adelaide , Australia",,"J. Robin Warren , Physiology or Medicine, 2005",2005
1045,,Physiology or Medicine,Australia,30 September 1951,,male,http://en.wikipedia.org/wiki/Barry_Marshall,Barry Marshall,"Kalgoorlie, Western Australia",,"Barry Marshall , Physiology or Medicine, 2005",2005
1046,Australia,Physiology or Medicine,,1948-11-26,,female,http://en.wikipedia.org/wiki/Elizabeth_H._Blac...,Elizabeth H. Blackburn *,"Hobart , Tasmania , Australia",,"Elizabeth H. Blackburn *, Physiology or Medici...",2009
1047,,Physics,Australia,"February 24, 1967",,male,http://en.wikipedia.org/wiki/Brian_P._Schmidt,Brian P. Schmidt,"Missoula, Montana",,"Brian P. Schmidt , born in the United States ...",2011

In [46]:
df.born_in.apply(len)
## 함수형 패러다임: 각 row의 함수 계산, 인수: 함수 이름
## apply: dataFrame, series 둘 다 사용 가능

0        0
1       22
2       22
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       7
15       7
16       7
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27      14
28      14
29      14
        ..
1022     0
1023     7
1024     7
1025     0
1026     0
1027     7
1028     0
1029     0
1030     7
1031     7
1032     0
1033     0
1034     7
1035     9
1036     0
1037     0
1038     0
1039     9
1040     0
1041     9
1042     0
1043     0
1044     0
1045     0
1046     9
1047     0
1048     0
1049     0
1050     0
1051     0
Name: born_in, Length: 1052, dtype: int64

In [47]:
df.born_in.map(len)
## map 은 series만 가능

0        0
1       22
2       22
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       7
15       7
16       7
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27      14
28      14
29      14
        ..
1022     0
1023     7
1024     7
1025     0
1026     0
1027     7
1028     0
1029     0
1030     7
1031     7
1032     0
1033     0
1034     7
1035     9
1036     0
1037     0
1038     0
1039     9
1040     0
1041     9
1042     0
1043     0
1044     0
1045     0
1046     9
1047     0
1048     0
1049     0
1050     0
1051     0
Name: born_in, Length: 1052, dtype: int64

In [49]:
def unknown(x):
    if not len(x): # 0이면
        return 'unknown'
    else:
        return x
df.born_in = df.born_in.map(unknown)

In [55]:
df['born_in']

0                      unknown
1       Bosnia and Herzegovina
2       Bosnia and Herzegovina
3                      unknown
4                      unknown
5                      unknown
6                      unknown
7                      unknown
8                      unknown
9                      unknown
10                     unknown
11                     unknown
12                     unknown
13                     unknown
14                     Belarus
15                     Belarus
16                     Belarus
17                     unknown
18                     unknown
19                     unknown
20                     unknown
21                     unknown
22                     unknown
23                     unknown
24                     unknown
25                     unknown
26                     unknown
27              Czech Republic
28              Czech Republic
29              Czech Republic
                 ...
1022                   unknown
1023                   Austria
1024                   Austria
1025                   unknown
1026                   unknown
1027                   Austria
1028                   unknown
1029                   unknown
1030                   Austria
1031                   Austria
1032                   unknown
1033                   unknown
1034                   Austria
1035                 Australia
1036                   unknown
1037                   unknown
1038                   unknown
1039                 Australia
1040                   unknown
1041                 Australia
1042                   unknown
1043                   unknown
1044                   unknown
1045                   unknown
1046                 Australia
1047                   unknown
1048                   unknown
1049                   unknown
1050                   unknown
1051                   unknown
Name: born_in, Length: 1052, dtype: object

In [60]:
df.born_in.replace('unknown',np.nan, inplace = True)
## series만 바꾸기

In [61]:
df.born_in

0                          NaN
1       Bosnia and Herzegovina
2       Bosnia and Herzegovina
3                          NaN
4                          NaN
5                          NaN
6                          NaN
7                          NaN
8                          NaN
9                          NaN
10                         NaN
11                         NaN
12                         NaN
13                         NaN
14                     Belarus
15                     Belarus
16                     Belarus
17                         NaN
18                         NaN
19                         NaN
20                         NaN
21                         NaN
22                         NaN
23                         NaN
24                         NaN
25                         NaN
26                         NaN
27              Czech Republic
28              Czech Republic
29              Czech Republic
                 ...
1022                       NaN
1023                   Austria
1024                   Austria
1025                       NaN
1026                       NaN
1027                   Austria
1028                       NaN
1029                       NaN
1030                   Austria
1031                   Austria
1032                       NaN
1033                       NaN
1034                   Austria
1035                 Australia
1036                       NaN
1037                       NaN
1038                       NaN
1039                 Australia
1040                       NaN
1041                 Australia
1042                       NaN
1043                       NaN
1044                       NaN
1045                       NaN
1046                 Australia
1047                       NaN
1048                       NaN
1049                       NaN
1050                       NaN
1051                       NaN
Name: born_in, Length: 1052, dtype: object

In [69]:
df.replace('',np.nan,inplace = True)
## dataFrame 전체 바꾸기
df.place_of_birth.head()

0                            Bahía Blanca ,  Argentina
1    Dolac (village near Travnik), Austria-Hungary ...
2    Sarajevo ,  Bosnia and Herzegovina , then part...
3                                                 None
4               Ostend ,  Netherlands  (now  Belgium )
Name: place_of_birth, dtype: object

In [77]:
df[df.name.str.contains('\*')].name

1                        Ivo Andric *
2                   Vladimir Prelog *
14                    Simon Kuznets *
15                   Menachem Begin *
16                     Shimon Peres *
27               Bertha von Suttner *
28                       Gerty Cori *
29              Carl Ferdinand Cori *
50                  Henry Kissinger *
51                     Arno Penzias *
53              Georges J.F. Köhler *
58                 Jack Steinberger *
63                  Hans G. Dehmelt *
82                  Renato Dulbecco *
87                Riccardo Giacconi *
88                   Mario Capecchi *
101     Mario José Molina Henríquez *
102                Gabriel Lippmann *
103               Jules A. Hoffmann *
104                  Andrew Schally *
105                  Czesław Miłosz *
106                      Aaron Klug *
109                 Wilhelm Ostwald *
115                    Severo Ochoa *
120                Allan M. Cormack *
126                  Sydney Brenner *
128                  Michael Levitt *
135                 Niels Kaj Jerne *
138                   Michael Smith *
268                     T. S. Eliot *
                    ...
935            Luis Federico Leloir *
937                   Seán MacBride *
938                 Roger Guillemin *
962             Niels Ryberg Finsen *
972                 Leopold Ružička *
978                  Daniel C. Tsui *
979                    Gao Xingjian *
980                  Charles K. Kao *
987                 William Giauque *
989              Charles B. Huggins *
991                     Saul Bellow *
992                  David H. Hubel *
993                     Henry Taube *
997               Rudolph A. Marcus *
1001                William Vickrey *
1002                  Myron Scholes *
1005               Willard S. Boyle *
1008                  Elias Canetti *
1009                  Peter Medawar *
1010       Zhores Ivanovich Alferov *
1023                     Otto Loewi *
1024                   Richard Kuhn *
1027                Karl von Frisch *
1030                    Walter Kohn *
1031                 Eric R. Kandel *
1034                 Martin Karplus *
1035         William Lawrence Bragg *
1039         Aleksandr M. Prokhorov *
1041          John Warcup Cornforth *
1046         Elizabeth H. Blackburn *
Name: name, Length: 142, dtype: object

In [84]:
None == None

True

In [85]:
np.nan == np.nan
## not available (수치 해석에 사용할 수 없는 값)

False

In [86]:
df.born_in.isnull()

0        True
1       False
2       False
3        True
4        True
5        True
6        True
7        True
8        True
9        True
10       True
11       True
12       True
13       True
14      False
15      False
16      False
17       True
18       True
19       True
20       True
21       True
22       True
23       True
24       True
25       True
26       True
27      False
28      False
29      False
        ...
1022     True
1023    False
1024    False
1025     True
1026     True
1027    False
1028     True
1029     True
1030    False
1031    False
1032     True
1033     True
1034    False
1035    False
1036     True
1037     True
1038     True
1039    False
1040     True
1041    False
1042     True
1043     True
1044     True
1045     True
1046    False
1047     True
1048     True
1049     True
1050     True
1051     True
Name: born_in, Length: 1052, dtype: bool

In [87]:
df.born_in.isna()

0        True
1       False
2       False
3        True
4        True
5        True
6        True
7        True
8        True
9        True
10       True
11       True
12       True
13       True
14      False
15      False
16      False
17       True
18       True
19       True
20       True
21       True
22       True
23       True
24       True
25       True
26       True
27      False
28      False
29      False
        ...
1022     True
1023    False
1024    False
1025     True
1026     True
1027    False
1028     True
1029     True
1030    False
1031    False
1032     True
1033     True
1034    False
1035    False
1036     True
1037     True
1038     True
1039    False
1040     True
1041    False
1042     True
1043     True
1044     True
1045     True
1046    False
1047     True
1048     True
1049     True
1050     True
1051     True
Name: born_in, Length: 1052, dtype: bool

In [88]:
 df[df.born_in.isnull()]

,born_in,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text,year
0,NaN,Physiology or Medicine,Argentina,8 October 1927,24 March 2002,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,CésarMilstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , Physiology or Medicine, 1984",1984
3,NaN,Peace,Belgium,None,None,None,http://en.wikipedia.org/wiki/Institut_de_Droit...,InstitutdeDroitInternational,None,None,"Institut de Droit International , Peace, 1904",1904
4,NaN,Peace,Belgium,26 July 1829,6 October 1912,male,http://en.wikipedia.org/wiki/Auguste_Marie_Fra...,AugusteBeernaert,"Ostend , Netherlands (now Belgium )","Lucerne , Switzerland","Auguste Beernaert , Peace, 1909",1909
5,NaN,Literature,Belgium,29 August 1862,6 May 1949,male,http://en.wikipedia.org/wiki/Maurice_Maeterlinck,MauriceMaeterlinck,"Ghent , Belgium","Nice , France","Maurice Maeterlinck , Literature, 1911",1911
6,NaN,Peace,Belgium,22 April 1854,14 May 1943,male,http://en.wikipedia.org/wiki/Henri_La_Fontaine,HenriLaFontaine,Brussels,Belgium,"Henri La Fontaine , Peace, 1913",1913
7,NaN,Physiology or Medicine,Belgium,13 June 1870,6 April 1961,male,http://en.wikipedia.org/wiki/Jules_Bordet,JulesBordet,"Soignies, Belgium",NaN,"Jules Bordet , Physiology or Medicine, 1919",1919
8,NaN,Physiology or Medicine,Belgium,28 March 1892,18 July 1968,male,http://en.wikipedia.org/wiki/Corneille_Heymans,CorneilleHeymans,"Ghent , Flanders","Knokke , Flanders","Corneille Heymans , Physiology or Medicine, 1938",1938
9,NaN,Peace,Belgium,1910-02-10,1969-01-30,male,http://en.wikipedia.org/wiki/Georges_Pire,GeorgesPire,"Dinant , Belgium","Leuven , Belgium","Georges Pire , Peace, 1958",1958
10,NaN,Physiology or Medicine,Belgium,24 August 1899,22 May 1983,male,http://en.wikipedia.org/wiki/Albert_Claude,AlbertClaude,"Longlier, Neufchâteau, Belgium","Brussels , Belgium","Albert Claude , Physiology or Medicine, 1974",1974
11,NaN,Physiology or Medicine,Belgium,2 October 1917,4 May 2013,male,http://en.wikipedia.org/wiki/Christian_de_Duve,ChristiandeDuve,"Thames Ditton, Surrey, United Kingdom","Grez-Doiceau, Belgium","Christian de Duve , born in the United Kingdo...",1974
12,NaN,Chemistry,Belgium,25 January 1917,28 May 2003,male,http://en.wikipedia.org/wiki/Ilya_Prigogine,IlyaPrigogine,"Moscow , Russia","Brussels , Belgium","Ilya Prigogine , born in Russia , Chemistry, ...",1977
13,NaN,Physics,Belgium,6 November 1932,NaN,male,http://en.wikipedia.org/wiki/Fran%C3%A7ois_Eng...,FrançoisEnglert,"Etterbeek , Brussels , Belgium",NaN,"François Englert , Physics, 2013",2013
17,NaN,Literature,Denmark,"June 2, 1857","October 13, 1919",male,http://en.wikipedia.org/wiki/Karl_Adolph_Gjell...,KarlAdolphGjellerup,"Roholte vicarage at Præstø , Denmark","Klotzsche , Germany","Karl Adolph Gjellerup , Literature, 1917",1917
18,NaN,Physiology or Medicine,Denmark,"November 15, 1874","September 13, 1949",male,http://en.wikipedia.org/wiki/August_Krogh,AugustKrogh,NaN,NaN,"August Krogh , Physiology or Medicine, 1920",1920
19,NaN,Physics,Denmark,7 October 1885,18 November 1962,male,http://en.wikipedia.org/wiki/Niels_Bohr,NielsBohr,"Copenhagen, Denmark","Copenhagen, Denmark","Niels Bohr , Physics, 1922",1922
20,NaN,Physiology or Medicine,Denmark,23 April 1867,30 January 1928,male,http://en.wikipedia.org/wiki/Johannes_Andreas_...,JohannesAndreasGribFibiger,Silkeborg,Copenhagen,"Johannes Andreas Grib Fibiger , Physiology or ...",1926
21,NaN,Physiology or Medicine,Denmark,21 February 1895,17 April 1976,male,http://en.wikipedia.org/wiki/Henrik_Dam,HenrikDam,NaN,NaN,"Henrik Dam , Physiology or Medicine, 1943",1943
22,NaN,Literature,Denmark,1873-01-20,1950-11-25,male,http://en.wikipedia.org/wiki/Johannes_Vilhelm_...,JohannesVilhelmJensen,"Farsø, Jutland, Denmark","Østerbro, Copenhagen, Denmark","Johannes Vilhelm Jensen , Literature, 1944",1944
23,NaN,Physics,Denmark,"July 9, 1926",NaN,male,http://en.wikipedia.org/wiki/Ben_Roy_Mottelson,BenRoyMottelson,"Chicago, Illinois",NaN,"Ben Roy Mottelson , Physics, 1975",1975
24,NaN,Physics,Denmark,19 June 1922,8 September 2009,male,http://en.wikipedia.org/wiki/Aage_Bohr,AageBohr,"Copenhagen , Denmark","Copenhagen , Denmark","Aage Bohr , Physics, 1975",1975
25,NaN,Physiology or Medicine,Denmark,"December 23, 1911","October 7, 1994",male,http://en.wikipedia.org/wiki/Niels_Kaj_Jerne,NielsKajJerne,NaN,NaN,"Niels Kaj Jerne , Physiology or Medicine, 1984",1984
26,NaN,Chemistry,Denmark,"October 8, 1918",NaN,male,http://en.wikipedia.org/wiki/Jens_Christian_Skou,JensChristianSkou,"Lemvig , Denmark",NaN,"Jens Christian Skou , Chemistry, 1997",1997
30,NaN,Chemistry,Czech Republic,"December 20, 1890","March 27, 1967",male,http://en.wikipedia.org/wiki/Jaroslav_Heyrovsk...,JaroslavHeyrovský,"Prague , Bohemia","Cambridge , England","Jaroslav Heyrovský , Chemistry, 1959",1959
31,NaN,Literature,Czech Republic,23 September 1901,10 January 1986,male,http://en.wikipedia.org/wiki/Jaroslav_Seifert,JaroslavSeifert,"Žižkov , Austria-Hungary","Prague , Czechoslovakia","Jaroslav Seifert , Literature, 1984",1984
32,NaN,Economics,Cyprus,1948-02-20,NaN,male,http://en.wikipedia.org/wiki/Christopher_A._Pi...,ChristopherA.Pissarides,"Nicosia, Cyprus",NaN,"Christopher A. Pissarides , Economics, 2010",2010
33,NaN,Chemistry,France,12 September 1897,17 March 1956,female,http://en.wikipedia.org/wiki/Ir%C3%A8ne_Joliot...,IrèneJoliot-Curie,"Paris, France","Paris, France","Irène Joliot-Curie , Chemistry, 1935",1935
34,NaN,Chemistry,France,19 March 1900,14 August 1958,male,http://en.wikipedia.org/wiki/Fr%C3%A9d%C3%A9ri...,FrédéricJoliot,"Paris, France","Paris, France","Frédéric Joliot , Chemistry, 1935",1935
35,NaN,Literature,France,23 March 1881,22 August 1958,male,http://en.wikipedia.org/wiki/Roger_Martin_du_Gard,RogerMartinduGard,"Neuilly-sur-Seine , Hauts-de-Seine","Sérigny, Orne","Roger Martin du Gard , Literature, 1937",1937
36,NaN,Literature,France,1869-11-22,1951-02-19,male,http://en.wikipedia.org/wiki/Andr%C3%A9_Gide,AndréGide,Paris,Paris,"André Gide , Literature, 1947",1947
37,NaN,Peace,France,"July 1, 1879","April 28, 1954",male,http://en.wikipedia.org/wiki/L%C3%A9on_Jouhaux,LéonJouhaux,NaN,NaN,"Léon Jouhaux , Peace, 1951",1951
...,...,...,...,...,...,...,...,...,...,...,...,...
1012,NaN,Physics,Azerbaijan,"January 22, 1908","April 1, 1968",male,http://en.wikipedia.org/wiki/Lev_Landau,LevLandau,Baku,Moscow,"Lev Landau , born in then Russian Empire, lau...",1962
1013,NaN,Physics,Austria,"June 7, 1862","May 20, 1947",male,http://en.wikipedia.org/wiki/Philipp_Lenard,PhilippLenard,"Pressburg , Austria-Hungary","Messelhausen , Germany","Philipp Lenard , born in then Austria-Hungary...",1905
1014,NaN,Peace,Austria,"June 9, 1843","June 21, 1914",female,http://en.wikipedia.org/wiki/Bertha_von_Suttner,BerthavonSuttner,"Prague , Austrian Empire","Vienna , Austria-Hungary","Bertha von Suttner , born in then Austria-Hun...",1905
1015,NaN,Peace,Austria,11 November 1864,5 May 1921,male,http://en.wikipedia.org/wiki/Alfred_Hermann_Fried,AlfredHermannFried,NaN,NaN,"Alfred Hermann Fried , Peace, 1911",1911
1016,NaN,Physiology or Medicine,Austria,22 April 1876,8 April 1936,male,http://en.wikipedia.org/wiki/Robert_B%C3%A1r%C...,RobertBárány,"Vienna , Austria-Hungary","Uppsala , Sweden","Robert Bárány , Physiology or Medicine, 1914",1914
1017,NaN,Chemistry,Austria,3 September 1869,13 December 1930,male,http://en.wikipedia.org/wiki/Fritz_Pregl,FriderikPregl,"Ljubljana , Austria Hungary","Graz , Austria","Friderik Pregl , born in then Austria-Hungary...",1923
1018,NaN,Chemistry,Austria,1 April 1865,23 September 1929,male,http://en.wikipedia.org/wiki/Richard_Adolf_Zsi...,RichardAdolfZsigmondy,"Vienna , Austrian Empire","Göttingen , Germany","Richard Adolf Zsigmondy , Chemistry, 1925",1925
1019,NaN,Physiology or Medicine,Austria,7 March 1857,27 September 1940,male,http://en.wikipedia.org/wiki/Julius_Wagner-Jau...,JuliusWagner-Jauregg,"Wels, Austria",Vienna,"Julius Wagner-Jauregg , Physiology or Medicine...",1927
1020,NaN,Physiology or Medicine,Austria,"June 14, 1868","June 26, 1943",male,http://en.wikipedia.org/wiki/Karl_Landsteiner,KarlLandsteiner,"Baden bei Wien , near Vienna (Austria)",New York City,"Karl Landsteiner , Physiology or Medicine, 1930",1930
1021,NaN,Physics,Austria,12 August 1887,4 January 1961,male,http://en.wikipedia.org/wiki/Erwin_Schr%C3%B6d...,ErwinSchrödinger,"Erdberg, Vienna, Austria","Vienna, Austria","Erwin Schrödinger , Physics, 1933",1933
1022,NaN,Physics,Austria,24 June 1883,17 December 1964,male,http://en.wikipedia.org/wiki/Victor_Francis_Hess,VictorFrancisHess,"Schloss Waldstein, Peggau , Austria","Mount Vernon, New York , USA","Victor Francis Hess , Physics, 1936",1936
1025,NaN,Physics,Austria,25 April 1900,15 December 1958,male,http://en.wikipedia.org/wiki/Wolfgang_Pauli,WolfgangPauli,"Vienna , Austria-Hungary","Zurich , Switzerland","Wolfgang Pauli , Physics, 1945",1945
1026,NaN,Chemistry,Austria,19 May 1914,6 February 2002,male,http://en.wikipedia.org/wiki/Max_F._Perutz,MaxF.Perutz,"Vienna , Austria","Cambridge , England","Max F. Perutz , Chemistry, 1962",1962
1028,NaN,Physiology or Medicine,Austria,"November 7, 1903","February 27, 1989",male,http://en.wikipedia.org/wiki/Konrad_Lorenz,KonradLorenz,"Vienna, Austria","Vienna, Austria","Konrad Lorenz , Physiology or Medicine, 1973",1973
1029,NaN,Economics,Austria,8 May 1899,23 March 1992,male,http://en.wikipedia.org/wiki/Friedrich_Hayek,FriedrichHayek,"Vienna, Austria-Hungary","Freiburg, Germany","Friedrich Hayek , Economics, 1974",1974
1032,NaN,Literature,Austria,20 October 1946,NaN,female,http://en.wikipedia.org/wiki/Elfriede_Jelinek,ElfriedeJelinek,"Mürzzuschlag , Styria , Austria",NaN,"Elfriede Jelinek , Literature, 2004",2004
1033,NaN,Peace,Austria,None,None,None,http://en.wikipedia.org/wiki/International_Ato...,InternationalAtomicEnergyAgency,None,None,"International Atomic Energy Agency , Peace, 2005",2005
1036,NaN,Physiology or Medicine,Australia,24 September 1898,21 February 1968,male,http://en.wikipedia.org/wiki/Howard_Walter_Florey,SirHowardFlorey,"Adelaide , South Australia","Oxford , United Kingdom","Sir Howard Florey , Physiology or Medicine, 1945",1945
1037,NaN,Physiology or Medicine,Australia,3 September 1899,31 August 1985,male,http://en.wikipedia.org/wiki/Frank_Macfarlane_...,SirFrankMacfarlaneBurnet,"Traralgon, Victoria","Port Fairy, Victoria","Sir Frank Macfarlane Burnet , Physiology or Me...",1960
1038,NaN,Physiology or Medicine,Australia,27 January 1903,2 May 1997,male,http://en.wikipedia.org/wiki/John_Carew_Eccles,JohnCarewEccles,"Melbourne , Australia","Tenero-Contra , Switzerland","John Carew Eccles , Physiology or Medicine, 1963",1963
1040,NaN,Literature,Australia,28 May 1912,30 September 1990,male,http://en.wikipedia.org/wiki/Patrick_White,PatrickWhite,"Knightsbridge , London","Sydney, Australia","Patrick White , born in the United Kingdom , ...",1973
1042,NaN,Economics,Australia,"May 29, 1920","August 9, 2000",male,http://en.wikipedia.org/wiki/John_Harsanyi,JohnHarsanyi,"Budapest , Hungary","Berkeley, California , USA","John Harsanyi , Economics, 1994",1994
1043,NaN,Physiology or Medicine,Australia,15 October 1940,NaN,male,http://en.wikipedia.org/wiki/Peter_C._Doherty,PeterC.Doherty&ProfessorRolfZinkernagel,Brisbane,NaN,Peter C. Doherty & Professor Rolf Zinkernage...,1996
1044,NaN,Physiology or Medicine,Australia,11 June 1937,NaN,male,http://en.wikipedia.org/wiki/Robin_Warren,J.RobinWarren,"Adelaide , Australia",NaN,"J. Robin Warren , Physiology or Medicine, 2005",2005
1045,NaN,Physiology or Medicine,Australia,30 September 1951,NaN,male,http://en.wikipedia.org/wiki/Barry_Marshall,BarryMarshall,"Kalgoorlie, Western Australia",NaN,"Barry Marshall , Physiology or Medicine, 2005",2005
1047,NaN,Physics,Australia,"February 24, 1967",NaN,male,http://en.wikipedia.org/wiki/Brian_P._Schmidt,BrianP.Schmidt,"Missoula, Montana",NaN,"Brian P. Schmidt , born in the United States ...",2011
1048,NaN,Peace,Argentina,"November 1, 1878","May 5, 1959",male,http://en.wikipedia.org/wiki/Carlos_Saavedra_L...,CarlosSaavedraLamas,"Buenos Aires , Argentina","Buenos Aires, Argentina","Carlos Saavedra Lamas , Peace, 1936",1936
1049,NaN,Physiology or Medicine,Argentina,1887-04-10,1971-09-21,male,http://en.wikipedia.org/wiki/Bernardo_Houssay,BernardoHoussay,"Buenos Aires , Argentina","Buenos Aires , Argentina","Bernardo Houssay , Physiology or Medicine, 1947",1947
1050,NaN,Chemistry,Argentina,1906-9-6,1987-12-2,male,http://en.wikipedia.org/wiki/Luis_Federico_Leloir,LuisFedericoLeloir,"Paris , France","Buenos Aires , Argentina","Luis Federico Leloir , Chemistry, 1970",1970
1051,NaN,Peace,Argentina,"November 26, 1931",NaN,male,http://en.wikipedia.org/wiki/Adolfo_P%C3%A9rez...,AdolfoPérezEsquivel,Buenos Aires,NaN,"Adolfo Pérez Esquivel , Peace, 1980",1980

In [89]:
df.dropna()

Empty DataFrame
Columns: [born_in, category, country, date_of_birth, date_of_death, gender, link, name, place_of_birth, place_of_death, text, year]
Index: []

In [91]:
df = df.drop('born_in',axis = 1)

In [94]:
df[df.duplicated('name')].name

131                  AaronKlug
134              CésarMilstein
309             LinusC.Pauling
326                JohnBardeen
366            BarujBenacerraf
373           FrancoModigliani
376        RitaLevi-Montalcini
405                RonaldCoase
457             DanielKahneman
476               RobertAumann
580            FrederickSanger
586              SydneyBrenner
598              MichaelLevitt
622                 FelixBloch
630            EdmondH.Fischer
672            WilhelmOstwald*
684            WassilyLeontief
688             MenachemBegin*
709      MarieSkłodowska-Curie
712             AndrewSchally*
714             CzesławMiłosz*
715             RoaldHoffmann*
717            GeorgesCharpak*
718               ShimonPeres*
721              LeonidHurwicz
731                LarsOnsager
734                IvarGiaever
773              YoichiroNambu
776             OsamuShimomura
778             Ei-ichiNegishi
780              ShujiNakamura
790                DanielBovet
797             MichaelLevitt*
798               AriehWarshel
805              BettyWilliams
813               MotherTeresa
830               AvramHershko
831               CharlesK.Kao
844             AlbertEinstein
905             ThomasC.Südhof
909                HenryDunant
919                 MarieCurie
940               GérardDebreu
947     MédecinsSansFrontières
960               RagnarGranit
975               Tsung-DaoLee
976               ChenNingYang
985           ErnestRutherford
995               SidneyAltman
1004             JackW.Szostak
1006           RalphM.Steinman
1013             PhilippLenard
1029            FriedrichHayek
1047            BrianP.Schmidt
Name: name, dtype: object

In [96]:
all_dups = df[df.duplicated('name')\
              | df.duplicated('name', keep ='last')]
## keep: 남길 데이터
all_dups.count()

category          106
country            92
date_of_birth     106
date_of_death      56
gender            104
link              108
name              108
place_of_birth    106
place_of_death     54
text              108
year              108
dtype: int64

In [100]:
df.drop_duplicates('name')

,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text,year
0,Physiology or Medicine,Argentina,8 October 1927,24 March 2002,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,CésarMilstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , Physiology or Medicine, 1984",1984
1,Literature,NaN,9 October 1892,13 March 1975,male,http://en.wikipedia.org/wiki/Ivo_Andric,IvoAndric*,"Dolac (village near Travnik), Austria-Hungary ...","Belgrade, SR Serbia, SFR Yugoslavia (present-d...","Ivo Andric *, born in then Austria–Hungary ,...",1961
2,Chemistry,NaN,"July 23, 1906",1998-01-07,male,http://en.wikipedia.org/wiki/Vladimir_Prelog,VladimirPrelog*,"Sarajevo , Bosnia and Herzegovina , then part...","Zürich , Switzerland","Vladimir Prelog *, born in then Austria–Hung...",1975
3,Peace,Belgium,None,None,None,http://en.wikipedia.org/wiki/Institut_de_Droit...,InstitutdeDroitInternational,None,None,"Institut de Droit International , Peace, 1904",1904
4,Peace,Belgium,26 July 1829,6 October 1912,male,http://en.wikipedia.org/wiki/Auguste_Marie_Fra...,AugusteBeernaert,"Ostend , Netherlands (now Belgium )","Lucerne , Switzerland","Auguste Beernaert , Peace, 1909",1909
5,Literature,Belgium,29 August 1862,6 May 1949,male,http://en.wikipedia.org/wiki/Maurice_Maeterlinck,MauriceMaeterlinck,"Ghent , Belgium","Nice , France","Maurice Maeterlinck , Literature, 1911",1911
6,Peace,Belgium,22 April 1854,14 May 1943,male,http://en.wikipedia.org/wiki/Henri_La_Fontaine,HenriLaFontaine,Brussels,Belgium,"Henri La Fontaine , Peace, 1913",1913
7,Physiology or Medicine,Belgium,13 June 1870,6 April 1961,male,http://en.wikipedia.org/wiki/Jules_Bordet,JulesBordet,"Soignies, Belgium",NaN,"Jules Bordet , Physiology or Medicine, 1919",1919
8,Physiology or Medicine,Belgium,28 March 1892,18 July 1968,male,http://en.wikipedia.org/wiki/Corneille_Heymans,CorneilleHeymans,"Ghent , Flanders","Knokke , Flanders","Corneille Heymans , Physiology or Medicine, 1938",1938
9,Peace,Belgium,1910-02-10,1969-01-30,male,http://en.wikipedia.org/wiki/Georges_Pire,GeorgesPire,"Dinant , Belgium","Leuven , Belgium","Georges Pire , Peace, 1958",1958
10,Physiology or Medicine,Belgium,24 August 1899,22 May 1983,male,http://en.wikipedia.org/wiki/Albert_Claude,AlbertClaude,"Longlier, Neufchâteau, Belgium","Brussels , Belgium","Albert Claude , Physiology or Medicine, 1974",1974
11,Physiology or Medicine,Belgium,2 October 1917,4 May 2013,male,http://en.wikipedia.org/wiki/Christian_de_Duve,ChristiandeDuve,"Thames Ditton, Surrey, United Kingdom","Grez-Doiceau, Belgium","Christian de Duve , born in the United Kingdo...",1974
12,Chemistry,Belgium,25 January 1917,28 May 2003,male,http://en.wikipedia.org/wiki/Ilya_Prigogine,IlyaPrigogine,"Moscow , Russia","Brussels , Belgium","Ilya Prigogine , born in Russia , Chemistry, ...",1977
13,Physics,Belgium,6 November 1932,NaN,male,http://en.wikipedia.org/wiki/Fran%C3%A7ois_Eng...,FrançoisEnglert,"Etterbeek , Brussels , Belgium",NaN,"François Englert , Physics, 2013",2013
14,Economics,NaN,"April 30, 1901","July 8, 1985",male,http://en.wikipedia.org/wiki/Simon_Kuznets,SimonKuznets*,Pinsk,"Cambridge, Massachusetts","Simon Kuznets *, born in then Russian Empire,...",1971
15,Peace,NaN,16 August 1913,9 March 1992,male,http://en.wikipedia.org/wiki/Menachem_Begin,MenachemBegin*,"Brest , Russian Empire","Tel Aviv , Israel","Menachem Begin *, born in then Russian Empire...",1978
16,Peace,NaN,2 August 1923,NaN,male,http://en.wikipedia.org/wiki/Shimon_Peres,ShimonPeres*,Poland,NaN,"Shimon Peres *, born in then Poland, now Bela...",1994
17,Literature,Denmark,"June 2, 1857","October 13, 1919",male,http://en.wikipedia.org/wiki/Karl_Adolph_Gjell...,KarlAdolphGjellerup,"Roholte vicarage at Præstø , Denmark","Klotzsche , Germany","Karl Adolph Gjellerup , Literature, 1917",1917
18,Physiology or Medicine,Denmark,"November 15, 1874","September 13, 1949",male,http://en.wikipedia.org/wiki/August_Krogh,AugustKrogh,NaN,NaN,"August Krogh , Physiology or Medicine, 1920",1920
19,Physics,Denmark,7 October 1885,18 November 1962,male,http://en.wikipedia.org/wiki/Niels_Bohr,NielsBohr,"Copenhagen, Denmark","Copenhagen, Denmark","Niels Bohr , Physics, 1922",1922
20,Physiology or Medicine,Denmark,23 April 1867,30 January 1928,male,http://en.wikipedia.org/wiki/Johannes_Andreas_...,JohannesAndreasGribFibiger,Silkeborg,Copenhagen,"Johannes Andreas Grib Fibiger , Physiology or ...",1926
21,Physiology or Medicine,Denmark,21 February 1895,17 April 1976,male,http://en.wikipedia.org/wiki/Henrik_Dam,HenrikDam,NaN,NaN,"Henrik Dam , Physiology or Medicine, 1943",1943
22,Literature,Denmark,1873-01-20,1950-11-25,male,http://en.wikipedia.org/wiki/Johannes_Vilhelm_...,JohannesVilhelmJensen,"Farsø, Jutland, Denmark","Østerbro, Copenhagen, Denmark","Johannes Vilhelm Jensen , Literature, 1944",1944
23,Physics,Denmark,"July 9, 1926",NaN,male,http://en.wikipedia.org/wiki/Ben_Roy_Mottelson,BenRoyMottelson,"Chicago, Illinois",NaN,"Ben Roy Mottelson , Physics, 1975",1975
24,Physics,Denmark,19 June 1922,8 September 2009,male,http://en.wikipedia.org/wiki/Aage_Bohr,AageBohr,"Copenhagen , Denmark","Copenhagen , Denmark","Aage Bohr , Physics, 1975",1975
25,Physiology or Medicine,Denmark,"December 23, 1911","October 7, 1994",male,http://en.wikipedia.org/wiki/Niels_Kaj_Jerne,NielsKajJerne,NaN,NaN,"Niels Kaj Jerne , Physiology or Medicine, 1984",1984
26,Chemistry,Denmark,"October 8, 1918",NaN,male,http://en.wikipedia.org/wiki/Jens_Christian_Skou,JensChristianSkou,"Lemvig , Denmark",NaN,"Jens Christian Skou , Chemistry, 1997",1997
27,Peace,NaN,"June 9, 1843","June 21, 1914",female,http://en.wikipedia.org/wiki/Bertha_von_Suttner,BerthavonSuttner*,"Prague , Austrian Empire","Vienna , Austria-Hungary","Bertha von Suttner *, born in then Austrian-H...",1905
28,Physiology or Medicine,NaN,15 August 1896,26 October 1957,female,http://en.wikipedia.org/wiki/Gerty_Cori,GertyCori*,"Prague , Austrian Empire",NaN,"Gerty Cori *, born in then Austria-Hungary , ...",1947
29,Physiology or Medicine,NaN,"December 5, 1896","October 20, 1984",male,http://en.wikipedia.org/wiki/Carl_Ferdinand_Cori,CarlFerdinandCori*,Prague,"Cambridge, Massachusetts","Carl Ferdinand Cori *, born in then Austria-H...",1947
...,...,...,...,...,...,...,...,...,...,...,...
1020,Physiology or Medicine,Austria,"June 14, 1868","June 26, 1943",male,http://en.wikipedia.org/wiki/Karl_Landsteiner,KarlLandsteiner,"Baden bei Wien , near Vienna (Austria)",New York City,"Karl Landsteiner , Physiology or Medicine, 1930",1930
1021,Physics,Austria,12 August 1887,4 January 1961,male,http://en.wikipedia.org/wiki/Erwin_Schr%C3%B6d...,ErwinSchrödinger,"Erdberg, Vienna, Austria","Vienna, Austria","Erwin Schrödinger , Physics, 1933",1933
1022,Physics,Austria,24 June 1883,17 December 1964,male,http://en.wikipedia.org/wiki/Victor_Francis_Hess,VictorFrancisHess,"Schloss Waldstein, Peggau , Austria","Mount Vernon, New York , USA","Victor Francis Hess , Physics, 1936",1936
1023,Physiology or Medicine,NaN,"June 3, 1873","December 25, 1961",male,http://en.wikipedia.org/wiki/Otto_Loewi,OttoLoewi*,"Frankfurt , Germany","New York City , United States","Otto Loewi *, Physiology or Medicine, 1936",1936
1024,Chemistry,NaN,"December 3, 1900","August 1, 1967",male,http://en.wikipedia.org/wiki/Richard_Kuhn,RichardKuhn*,"Vienna , Austria","Heidelberg , Germany","Richard Kuhn *, Chemistry, 1938",1938
1025,Physics,Austria,25 April 1900,15 December 1958,male,http://en.wikipedia.org/wiki/Wolfgang_Pauli,WolfgangPauli,"Vienna , Austria-Hungary","Zurich , Switzerland","Wolfgang Pauli , Physics, 1945",1945
1026,Chemistry,Austria,19 May 1914,6 February 2002,male,http://en.wikipedia.org/wiki/Max_F._Perutz,MaxF.Perutz,"Vienna , Austria","Cambridge , England","Max F. Perutz , Chemistry, 1962",1962
1027,Physiology or Medicine,NaN,1886-11-20,1982-06-12,male,http://en.wikipedia.org/wiki/Karl_von_Frisch,KarlvonFrisch*,"Vienna, Austria","Munich , Germany","Karl von Frisch *, Physiology or Medicine, 1973",1973
1028,Physiology or Medicine,Austria,"November 7, 1903","February 27, 1989",male,http://en.wikipedia.org/wiki/Konrad_Lorenz,KonradLorenz,"Vienna, Austria","Vienna, Austria","Konrad Lorenz , Physiology or Medicine, 1973",1973
1030,Chemistry,NaN,1923-03-09,NaN,male,http://en.wikipedia.org/wiki/Walter_Kohn,WalterKohn*,Vienna,NaN,"Walter Kohn *, Chemistry, 1998",1998
1031,Physiology or Medicine,NaN,7 November 1929,NaN,male,http://en.wikipedia.org/wiki/Eric_R._Kandel,EricR.Kandel*,"Vienna , Austria",NaN,"Eric R. Kandel *, Physiology or Medicine, 2000",2000
1032,Literature,Austria,20 October 1946,NaN,female,http://en.wikipedia.org/wiki/Elfriede_Jelinek,ElfriedeJelinek,"Mürzzuschlag , Styria , Austria",NaN,"Elfriede Jelinek , Literature, 2004",2004
1033,Peace,Austria,None,None,None,http://en.wikipedia.org/wiki/International_Ato...,InternationalAtomicEnergyAgency,None,None,"International Atomic Energy Agency , Peace, 2005",2005
1034,Chemistry,NaN,"March 15, 1930",NaN,male,http://en.wikipedia.org/wiki/Martin_Karplus,MartinKarplus*,"Vienna , Austria",NaN,"Martin Karplus *, Chemistry, 2013",2013
1035,Physics,NaN,31 March 1890,1 July 1971,male,http://en.wikipedia.org/wiki/William_Lawrence_...,WilliamLawrenceBragg*,"North Adelaide , South Australia","Waldringfield , Suffolk, England","William Lawrence Bragg *, Physics, 1915",1915
1036,Physiology or Medicine,Australia,24 September 1898,21 February 1968,male,http://en.wikipedia.org/wiki/Howard_Walter_Florey,SirHowardFlorey,"Adelaide , South Australia","Oxford , United Kingdom","Sir Howard Florey , Physiology or Medicine, 1945",1945
1037,Physiology or Medicine,Australia,3 September 1899,31 August 1985,male,http://en.wikipedia.org/wiki/Frank_Macfarlane_...,SirFrankMacfarlaneBurnet,"Traralgon, Victoria","Port Fairy, Victoria","Sir Frank Macfarlane Burnet , Physiology or Me...",1960
1038,Physiology or Medicine,Australia,27 January 1903,2 May 1997,male,http://en.wikipedia.org/wiki/John_Carew_Eccles,JohnCarewEccles,"Melbourne , Australia","Tenero-Contra , Switzerland","John Carew Eccles , Physiology or Medicine, 1963",1963
1039,Physics,NaN,11 July 1916,8 January 2002,male,http://en.wikipedia.org/wiki/Aleksandr_M._Prok...,AleksandrM.Prokhorov*,"Atherton, Queensland , Australia","Moscow , Russia","Aleksandr M. Prokhorov *, Physics, 1964",1964
1040,Literature,Australia,28 May 1912,30 September 1990,male,http://en.wikipedia.org/wiki/Patrick_White,PatrickWhite,"Knightsbridge , London","Sydney, Australia","Patrick White , born in the United Kingdom , ...",1973
1041,Chemistry,NaN,7 September 1917,8 December 2013,male,http://en.wikipedia.org/wiki/John_Warcup_Cornf...,JohnWarcupCornforth*,"Sydney , Australia",England,"John Warcup Cornforth *, Chemistry, 1975",1975
1042,Economics,Australia,"May 29, 1920","August 9, 2000",male,http://en.wikipedia.org/wiki/John_Harsanyi,JohnHarsanyi,"Budapest , Hungary","Berkeley, California , USA","John Harsanyi , Economics, 1994",1994
1043,Physiology or Medicine,Australia,15 October 1940,NaN,male,http://en.wikipedia.org/wiki/Peter_C._Doherty,PeterC.Doherty&ProfessorRolfZinkernagel,Brisbane,NaN,Peter C. Doherty & Professor Rolf Zinkernage...,1996
1044,Physiology or Medicine,Australia,11 June 1937,NaN,male,http://en.wikipedia.org/wiki/Robin_Warren,J.RobinWarren,"Adelaide , Australia",NaN,"J. Robin Warren , Physiology or Medicine, 2005",2005
1045,Physiology or Medicine,Australia,30 September 1951,NaN,male,http://en.wikipedia.org/wiki/Barry_Marshall,BarryMarshall,"Kalgoorlie, Western Australia",NaN,"Barry Marshall , Physiology or Medicine, 2005",2005
1046,Physiology or Medicine,NaN,1948-11-26,NaN,female,http://en.wikipedia.org/wiki/Elizabeth_H._Blac...,ElizabethH.Blackburn*,"Hobart , Tasmania , Australia",NaN,"Elizabeth H. Blackburn *, Physiology or Medici...",2009
1048,Peace,Argentina,"November 1, 1878","May 5, 1959",male,http://en.wikipedia.org/wiki/Carlos_Saavedra_L...,CarlosSaavedraLamas,"Buenos Aires , Argentina","Buenos Aires, Argentina","Carlos Saavedra Lamas , Peace, 1936",1936
1049,Physiology or Medicine,Argentina,1887-04-10,1971-09-21,male,http://en.wikipedia.org/wiki/Bernardo_Houssay,BernardoHoussay,"Buenos Aires , Argentina","Buenos Aires , Argentina","Bernardo Houssay , Physiology or Medicine, 1947",1947
1050,Chemistry,Argentina,1906-9-6,1987-12-2,male,http://en.wikipedia.org/wiki/Luis_Federico_Leloir,LuisFedericoLeloir,"Paris , France","Buenos Aires , Argentina","Luis Federico Leloir , Chemistry, 1970",1970
1051,Peace,Argentina,"November 26, 1931",NaN,male,http://en.wikipedia.org/wiki/Adolfo_P%C3%A9rez...,AdolfoPérezEsquivel,Buenos Aires,NaN,"Adolfo Pérez Esquivel , Peace, 1980",1980

In [128]:
data = pd.read_csv('E:/Workspace/Bigdata_Edu/1. Lecture Note/16_2. pandas_2_180726/pew.txt',
                   sep='\t')

In [114]:
data[data.religion == 'Buddhist']

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
2,Buddhist,27,21,30,34,33,58,62,39,53,54

In [115]:
data[data.religion == 'Buddhist'].mean(axis=1)

2    41.1
dtype: float64

In [120]:
melt_data = data.melt('religion')
melt_data.head(10)

                  religion variable  value
0                 Agnostic    <$10k     27
1                  Atheist    <$10k     12
2                 Buddhist    <$10k     27
3                 Catholic    <$10k    418
4       Don’t know/refused    <$10k     15
5         Evangelical Prot    <$10k    575
6                    Hindu    <$10k      1
7  Historically Black Prot    <$10k    228
8        Jehovah's Witness    <$10k     20
9                   Jewish    <$10k     19

In [124]:
melt_data.groupby('religion').mean()

                         value
religion
Agnostic                  82.6
Atheist                   51.5
Buddhist                  41.1
Catholic                 805.4
Don’t know/refused        27.2
Evangelical Prot         947.2
Hindu                     25.7
Historically Black Prot  199.5
Jehovah's Witness         21.5
Jewish                    68.2
Mainline Prot            747.0
Mormon                    58.1
Muslim                    11.6
Orthodox                  36.3
Other Christian           12.9
Other Faiths              44.9
Other World Religions      4.2
Unaffiliated             370.7

In [126]:
melt_data.groupby('religion').min()

                        variable  value
religion
Agnostic                 $10-20k     27
Atheist                  $10-20k     12
Buddhist                 $10-20k     21
Catholic                 $10-20k    418
Don’t know/refused       $10-20k     10
Evangelical Prot         $10-20k    414
Hindu                    $10-20k      1
Historically Black Prot  $10-20k     78
Jehovah's Witness        $10-20k      6
Jewish                   $10-20k     19
Mainline Prot            $10-20k    289
Mormon                   $10-20k     29
Muslim                   $10-20k      6
Orthodox                 $10-20k     13
Other Christian          $10-20k      7
Other Faiths             $10-20k     20
Other World Religions    $10-20k      2
Unaffiliated             $10-20k    217

In [129]:
data2 = pd.read_csv('E:/Workspace/Bigdata_Edu/1. Lecture Note/16_2. pandas_2_180726/tb.csv')

In [138]:
melt_data2 = data2.melt(['iso2','year'])

In [139]:
melt_data2.dropna(inplace=True)

In [140]:
melt_data2.groupby('year').sum()

          value
year
2005   109408.0
2006    81921.0
2007   122571.0
2008  1421737.0

In [184]:
data3 = pd.read_csv('E:/Workspace/Bigdata_Edu/1. Lecture Note/16_2. pandas_2_180726/weather.txt',
                   sep = '\t')

In [185]:
data3 = data3.melt(['id','year','element','month']).dropna()

In [186]:
del data3['id']

In [187]:
data3.reset_index(inplace=True)

In [188]:
data3 = data3[['year','month','element','variable','value']]

In [189]:
data3.sort_values(['year','month'])

    year  month element variable  value
62  2010      1    TMAX      d30  278.0
63  2010      1    TMIN      d30  145.0
2   2010      2    TMAX       d2  273.0
3   2010      2    TMIN       d2  144.0
6   2010      2    TMAX       d3  241.0
7   2010      2    TMIN       d3  144.0
28  2010      2    TMAX      d11  297.0
29  2010      2    TMIN      d11  134.0
42  2010      2    TMAX      d23  299.0
43  2010      2    TMIN      d23  107.0
12  2010      3    TMAX       d5  321.0
13  2010      3    TMIN       d5  142.0
26  2010      3    TMAX      d10  345.0
27  2010      3    TMIN      d10  168.0
38  2010      3    TMAX      d16  311.0
39  2010      3    TMIN      d16  176.0
50  2010      4    TMAX      d27  363.0
51  2010      4    TMIN      d27  167.0
52  2010      5    TMAX      d27  332.0
53  2010      5    TMIN      d27  182.0
40  2010      6    TMAX      d17  280.0
41  2010      6    TMIN      d17  175.0
58  2010      6    TMAX      d29  301.0
59  2010      6    TMIN      d29  180.0
8   2010      7    TMAX       d3  286.0
9   2010      7    TMIN       d3  175.0
32  2010      7    TMAX      d14  299.0
33  2010      7    TMIN      d14  165.0
14  2010      8    TMAX       d5  296.0
15  2010      8    TMIN       d5  158.0
..   ...    ...     ...      ...    ...
46  2010      8    TMAX      d25  297.0
47  2010      8    TMIN      d25  156.0
60  2010      8    TMAX      d29  280.0
61  2010      8    TMIN      d29  153.0
64  2010      8    TMAX      d31  254.0
65  2010      8    TMIN      d31  154.0
16  2010     10    TMAX       d5  270.0
17  2010     10    TMIN       d5  140.0
22  2010     10    TMAX       d7  281.0
23  2010     10    TMIN       d7  129.0
34  2010     10    TMAX      d14  295.0
35  2010     10    TMIN      d14  130.0
36  2010     10    TMAX      d15  287.0
37  2010     10    TMIN      d15  105.0
56  2010     10    TMAX      d28  312.0
57  2010     10    TMIN      d28  150.0
4   2010     11    TMAX       d2  313.0
5   2010     11    TMIN       d2  163.0
10  2010     11    TMAX       d4  272.0
11  2010     11    TMIN       d4  120.0
18  2010     11    TMAX       d5  263.0
19  2010     11    TMIN       d5   79.0
48  2010     11    TMAX      d26  281.0
49  2010     11    TMIN      d26  121.0
54  2010     11    TMAX      d27  277.0
55  2010     11    TMIN      d27  142.0
0   2010     12    TMAX       d1  299.0
1   2010     12    TMIN       d1  138.0
20  2010     12    TMAX       d6  278.0
21  2010     12    TMIN       d6  105.0

[66 rows x 5 columns]

In [190]:
data3.element = data3.element.str.replace('T','')

In [191]:
data3[data3.element=='MIN'].groupby('month').mean()

       year       value
month
1      2010  145.000000
2      2010  132.250000
3      2010  162.000000
4      2010  167.000000
5      2010  182.000000
6      2010  177.500000
7      2010  170.000000
8      2010  158.428571
10     2010  130.800000
11     2010  125.000000
12     2010  121.500000