In [5]:
import dis

In [13]:
def moon_sun(x,y,*z):  # 함수의 파라미터는 아스타리카는 맨 뒤의 파라미터에만 붙일 수 있다.
                       # 키워드에는 붙여도 된다.
    return x,y,z

In [14]:
dis.dis(moon_sun)

  2           0 LOAD_FAST                0 (x)
              2 LOAD_FAST                2 (y)
              4 LOAD_FAST                1 (z)
              6 BUILD_TUPLE              3
              8 RETURN_VALUE

In [15]:
a,*b,c = 1,2,3,4,5,6,7,8
b

[2, 3, 4, 5, 6, 7]

In [18]:
moon_sun(1,23,3,4,5,2,34,"11",z=['a'])

(1, (23, 3, 4, 5, 2, 34, '11'), ['a'])

In [25]:
def onlyKeyword(*,x,y): # 키워드만 파라미터로 받을 수 있는 함수
    return x,y

In [26]:
onlyKeyword(x=2,y=2)

(2, 2)

In [33]:
def test(x=3,y):
    return x,y
test(y=3)

SyntaxError: non-default argument follows default argument (<ipython-input-33-b3333b0ba575>, line 1)

In [34]:
def test2(x,y):
    return x,y
test2(x=3)

TypeError: test2() missing 1 required positional argument: 'y'

In [38]:
def test3(x,y=3,z=1):
    return x,y,z
test3(7,4)

(7, 4, 1)

In [39]:
test3(7,z=5)

(7, 3, 5)

ref. positional argument
Syntax Error ~= Compile error(C)
Exception Error ~= Runtime error(C)

In [40]:
def test4(x): # parameter
    return x
test4(7 or 23) #argument

7

In [42]:
a = input('xx:')
test4(a or 23)

xx:

23

In [44]:
1,_,_ = 2,3,2 #2 is immutable, so not changable

SyntaxError: can't assign to literal (<ipython-input-44-8abcf599b76a>, line 1)

In [47]:
x,_,_ = 2,3,2
_ # 뒤에서부터 계산

2

In [48]:
def f(x,*z):
    return x,z

In [54]:
f(1,23,2,3,4)

(1, (23, 2, 3, 4))

In [55]:
f(1,(23,2,3,4))

(1, ((23, 2, 3, 4),))

In [63]:
f(1,*[23,2,3,4])

(1, (23, 2, 3, 4))

In [64]:
f(1,*"str")

(1, ('s', 't', 'r'))

In [65]:
list("str")

['s', 't', 'r']

In [66]:
list(1,2,3,4)

TypeError: list() takes at most 1 argument (4 given)

In [67]:
list((1,2,3,4)) # 함수의 인자로는 iterable 이 들어가야 함

[1, 2, 3, 4]

In [73]:
def f2(x,**z):
    if 'a' in z: #in: membership operator, dict에서는 key 검색
        print(z['a'])
    return x,z
f2(1,a=2,b=4)

2

(1, {'a': 2, 'b': 4})

In [77]:
def f3(x,*y,**z):
    return x,y,z

In [78]:
f3(1,3,4,2,34,a=2,b=3)

(1, (3, 4, 2, 34), {'a': 2, 'b': 3})

In [79]:
f3(1,y=[3,4,2,34],z={1:'3'})

(1, (), {'y': [3, 4, 2, 34], 'z': {1: '3'}})

In [80]:
f3(1,[3,4,2,34],{1:'3'})

(1, ([3, 4, 2, 34], {1: '3'}), {})

In [86]:
x = {1:'a',2:'b'}
y = {2:'c',3:'d'}
z = {**x,**y} # python은 왼쪽에서 오른쪽으로 평가하기에 2는 c

In [89]:
def f4(x,**z):
    return x,z
f4(1,z={1:'3'})

(1, {'z': {1: '3'}})

In [94]:
def type_check(x):
    if isinstance(x,(list,tuple,range)):
        print('ooo')

In [97]:
def type_check_2(x):
    if type(x) in [list,tuple,range]:
        print("OOO")

In [ ]:
a = [1:'3',2:'3']

In [100]:
def f5(x,**y):
    return x,y
f5(0,**{1:2,'2':3})

TypeError: f5() keywords must be strings

In [103]:
def f6(x,*y):
    return x,y
f6(1,*[2,3,4,5])

(1, (2, 3, 4, 5))

python: First Class Citizen / First Class Function (=> High-order func.)
- High-order: 함수형 기법 지원

In [104]:
a = {'a':1,'b':2,'c':3}

In [117]:
for i in a.keys(): # for i in a: 와 같음
    print(i)
for i in a.values():
    print(i)
for i,j in a.items():
    print(j)
for i in a:
    print(a[i])

a
b
c
1
2
3
1
2
3
1
2
3

In [119]:
from collections import OrderedDict

In [120]:
import seaborn as sns

In [130]:
data = sns.load_dataset('tips')

In [131]:
data

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
6          8.77  2.00    Male     No   Sun  Dinner     2
7         26.88  3.12    Male     No   Sun  Dinner     4
8         15.04  1.96    Male     No   Sun  Dinner     2
9         14.78  3.23    Male     No   Sun  Dinner     2
10        10.27  1.71    Male     No   Sun  Dinner     2
11        35.26  5.00  Female     No   Sun  Dinner     4
12        15.42  1.57    Male     No   Sun  Dinner     2
13        18.43  3.00    Male     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
15        21.58  3.92    Male     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
17        16.29  3.71    Male     No   Sun  Dinner     3
18        16.97  3.50  Female     No   Sun  Dinner     3
19        20.65  3.35    Male     No   Sat  Dinner     3
20        17.92  4.08    Male     No   Sat  Dinner     2
21        20.29  2.75  Female     No   Sat  Dinner     2
22        15.77  2.23  Female     No   Sat  Dinner     2
23        39.42  7.58    Male     No   Sat  Dinner     4
24        19.82  3.18    Male     No   Sat  Dinner     2
25        17.81  2.34    Male     No   Sat  Dinner     4
26        13.37  2.00    Male     No   Sat  Dinner     2
27        12.69  2.00    Male     No   Sat  Dinner     2
28        21.70  4.30    Male     No   Sat  Dinner     2
29        19.65  3.00  Female     No   Sat  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
214       28.17  6.50  Female    Yes   Sat  Dinner     3
215       12.90  1.10  Female    Yes   Sat  Dinner     2
216       28.15  3.00    Male    Yes   Sat  Dinner     5
217       11.59  1.50    Male    Yes   Sat  Dinner     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
220       12.16  2.20    Male    Yes   Fri   Lunch     2
221       13.42  3.48  Female    Yes   Fri   Lunch     2
222        8.58  1.92    Male    Yes   Fri   Lunch     1
223       15.98  3.00  Female     No   Fri   Lunch     3
224       13.42  1.58    Male    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [132]:
type(data)

pandas.core.frame.DataFrame

In [134]:
dir(data)

['T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_SLICEMAP',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_wrap__',
 '__bool__',
 '__bytes__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__unicode__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_only_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_apply_broadcast',
 '_apply_empty_result',
 '_apply_raw',
 '_apply_standard',
 '_at',
 '_box_col_values',
 '_box_item_values',
 '_builtin_table',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_percentile',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_combine_const',
 '_combine_frame',
 '_combine_match_columns',
 '_combine_match_index',
 '_combine_series',
 '_combine_series_infer',
 '_compare_frame',
 '_compare_frame_evaluate',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_for_slice',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_create_indexer',
 '_cython_table',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_ensure_valid_index',
 '_expand_axes',
 '_flex_compare_frame',
 '_from_arrays',
 '_from_axes',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_numeric_data',
 '_get_valid_indices',
 '_get_value',
 '_get_values',
 '_getitem_array',
 '_getitem_column',
 '_getitem_frame',
 '_getitem_multilevel',
 '_getitem_slice',
 '_gotitem',
 '_iat',
 '_iget_item_cache',
 '_iloc',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_dict',
 '_init_mgr',
 '_init_ndarray',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_cython_func',
 '_is_datelike_mixed_type',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_join_compat',
 '_loc',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_axis',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_series',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_setup_axes',
 '_shallow_copy',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_take',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_unpickle_frame_compat',
 '_unpickle_matrix_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'as_matrix',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'axes',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'clip_lower',
 'clip_upper',
 'columns',
 'combine',
 'combine_first',
 'compound',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'day',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_dict',
 'from_items',
 'from_records',
 'ftypes',
 'ge',
 'get',
 'get_dtype_counts',
 'get_ftype_counts',
 'get_values',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'is_copy',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'ix',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_axis',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_index',
 'sex',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'smoker',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'time',
 'tip',
 'to_clipboard',
 'to_csv',
 'to_dense',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_msgpack',
 'to_panel',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sparse',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'total_bill',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'values',
 'var',
 'where',
 'xs']

In [135]:
data.info

<bound method DataFrame.info of      total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
6          8.77  2.00    Male     No   Sun  Dinner     2
7         26.88  3.12    Male     No   Sun  Dinner     4
8         15.04  1.96    Male     No   Sun  Dinner     2
9         14.78  3.23    Male     No   Sun  Dinner     2
10        10.27  1.71    Male     No   Sun  Dinner     2
11        35.26  5.00  Female     No   Sun  Dinner     4
12        15.42  1.57    Male     No   Sun  Dinner     2
13        18.43  3.00    Male     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
15        21.58  3.92    Male     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
17        16.29  3.71    Male     No   Sun  Dinner     3
18        16.97  3.50  Female     No   Sun  Dinner     3
19        20.65  3.35    Male     No   Sat  Dinner     3
20        17.92  4.08    Male     No   Sat  Dinner     2
21        20.29  2.75  Female     No   Sat  Dinner     2
22        15.77  2.23  Female     No   Sat  Dinner     2
23        39.42  7.58    Male     No   Sat  Dinner     4
24        19.82  3.18    Male     No   Sat  Dinner     2
25        17.81  2.34    Male     No   Sat  Dinner     4
26        13.37  2.00    Male     No   Sat  Dinner     2
27        12.69  2.00    Male     No   Sat  Dinner     2
28        21.70  4.30    Male     No   Sat  Dinner     2
29        19.65  3.00  Female     No   Sat  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
214       28.17  6.50  Female    Yes   Sat  Dinner     3
215       12.90  1.10  Female    Yes   Sat  Dinner     2
216       28.15  3.00    Male    Yes   Sat  Dinner     5
217       11.59  1.50    Male    Yes   Sat  Dinner     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
220       12.16  2.20    Male    Yes   Fri   Lunch     2
221       13.42  3.48  Female    Yes   Fri   Lunch     2
222        8.58  1.92    Male    Yes   Fri   Lunch     1
223       15.98  3.00  Female     No   Fri   Lunch     3
224       13.42  1.58    Male    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]>

In [137]:
data.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [139]:
data.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [140]:
data.groupby('sex').mean()

        total_bill       tip      size
sex
Male     20.744076  3.089618  2.630573
Female   18.056897  2.833448  2.459770

In [146]:
import inspect
print(inspect.getsource(sns.load_dataset))

def load_dataset(name, cache=True, data_home=None, **kws):
    """Load a dataset from the online repository (requires internet).

    Parameters
    ----------
    name : str
        Name of the dataset (`name`.csv on
        https://github.com/mwaskom/seaborn-data).  You can obtain list of
        available datasets using :func:`get_dataset_names`
    cache : boolean, optional
        If True, then cache data locally and use the cache on subsequent calls
    data_home : string, optional
        The directory in which to cache data. By default, uses ~/seaborn-data/
    kws : dict, optional
        Passed to pandas.read_csv

    """
    path = ("https://raw.githubusercontent.com/"
            "mwaskom/seaborn-data/master/{}.csv")
    full_path = path.format(name)

    if cache:
        cache_path = os.path.join(get_data_home(data_home),
                                  os.path.basename(full_path))
        if not os.path.exists(cache_path):
            urlretrieve(full_path, cache_path)
        full_path = cache_path

    df = pd.read_csv(full_path, **kws)
    if df.iloc[-1].isnull().all():
        df = df.iloc[:-1]

    if not pandas_has_categoricals:
        return df

    # Set some columns as a categorical type with ordered levels

    if name == "tips":
        df["day"] = pd.Categorical(df["day"], ["Thur", "Fri", "Sat", "Sun"])
        df["sex"] = pd.Categorical(df["sex"], ["Male", "Female"])
        df["time"] = pd.Categorical(df["time"], ["Lunch", "Dinner"])
        df["smoker"] = pd.Categorical(df["smoker"], ["Yes", "No"])

    if name == "flights":
        df["month"] = pd.Categorical(df["month"], df.month.unique())

    if name == "exercise":
        df["time"] = pd.Categorical(df["time"], ["1 min", "15 min", "30 min"])
        df["kind"] = pd.Categorical(df["kind"], ["rest", "walking", "running"])
        df["diet"] = pd.Categorical(df["diet"], ["no fat", "low fat"])

    if name == "titanic":
        df["class"] = pd.Categorical(df["class"], ["First", "Second", "Third"])
        df["deck"] = pd.Categorical(df["deck"], list("ABCDEFG"))

    return df

### FP: Functional Programming
- map: 함수 형태로 매핑
- filter
- reduce

In [162]:
k=[]
for i in range(1,11):
    k.append(i)
print(k)
print(i)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
10

In [155]:
[x for x in range(1,11)] # Comprehension

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [161]:
set(x for x in range(1,11) if x%2 ==0)

{2, 4, 6, 8, 10}

In [163]:
[range(1,11)]

[range(1, 11)]

In [164]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [167]:
sum(range(1,11))

55

In [187]:
list(map(lambda x:x+2,{1,2,3}))

[3, 4, 5]

In [186]:
def add_two(x):
    return x+2
list(map(add_two,{1,2,3}))

[3, 4, 5]

In [190]:
list(filter(lambda x:x>3,[1,2,3,4,5,6]))

[4, 5, 6]

In [200]:
all([[],(),""])

False

In [202]:
any([[],()," "])

True

In [212]:
sorted(['김','형','A','a'])

['A', 'a', '김', '형']

In [209]:
sorted([1,3,4,0])

[0, 1, 3, 4]

In [235]:
a = enumerate([1,2,3])
a

In [237]:
for i,j in enumerate(range(3,11),10):
    print(i,j)

10 3
11 4
12 5
13 6
14 7
15 8
16 9
17 10

In [222]:
b = (x for x in range(10)) #tuple comprehension: Generator
b

In [229]:
for i in b:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [225]:
def(a):
    return [1,2,3,4,5]
for a in a():
    print(a)

SyntaxError: invalid syntax (<ipython-input-225-c435a781d387>, line 1)

In [241]:
for i in map(lambda x:x+1,range(10)):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [244]:
a = 4
b = 5 if a>1 else 0
b

5

In [247]:
c = [x for x in range(10) if x>5]
c

[6, 7, 8, 9]

In [252]:
[x if x>5 else "" for x in range(10)]

['', '', '', '', '', '', 6, 7, 8, 9]

In [272]:
[(a,b,a*b) for a in range(2,10) for b in range(1,10) if (a*b)%2==1]

[(3, 1, 3),
 (3, 3, 9),
 (3, 5, 15),
 (3, 7, 21),
 (3, 9, 27),
 (5, 1, 5),
 (5, 3, 15),
 (5, 5, 25),
 (5, 7, 35),
 (5, 9, 45),
 (7, 1, 7),
 (7, 3, 21),
 (7, 5, 35),
 (7, 7, 49),
 (7, 9, 63),
 (9, 1, 9),
 (9, 3, 27),
 (9, 5, 45),
 (9, 7, 63),
 (9, 9, 81)]

In [269]:
def ax(a,x):
    return a*x
[ax(a,x) for a in range(2,10) for x in range(1,10)]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

### Function parameter / argument
- mutable value canNOT be default parameter

In [281]:
def mutable(x,y=[]):
    y.append(x)
    return y

In [282]:
mutable(1)

[1]

In [283]:
mutable(2)

[1, 2]

In [284]:
mutable(3)

[1, 2, 3]

In [285]:
import time

In [286]:
time.time()

1530770603.2340093

In [287]:
def time_at(time = time.time()):
    return time

In [289]:
time_at()

1530770620.9029765

In [290]:
time_at()

1530770620.9029765

In [291]:
time_at()

1530770620.9029765

In [292]:
# Ref.
def moon(self=None):
    return self

In [305]:
x = 1
y = 3
def a():
    global x
    x +=3
    print('---',x)
    print('----',y)
    return x
print(a())
print(x)

--- 4
---- 3
4
4

#### LEGB
- Local
- Enlosing
- Global
- Built-in

In [5]:
x = 1
y = 3
def a():
    def b():
        global x
        return x
    return b
print(a()())

1

---

In [11]:
k=[]
for i in range(11):
    k.append(i)
print(k)
print(i)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
10

In [14]:
def a():
    for i in range(11):
        print(i)
i

10

In [12]:
[j for j in range(11)]
print(j)

NameError: name 'j' is not defined

In [7]:
j

NameError: name 'j' is not defined