In [1]:
import sqlite3

In [2]:
sqlite3.version

'2.6.0'

In [3]:
type(sqlite3.version_info)

tuple

In [4]:
sqlite3.version_info

(2, 6, 0)

In [5]:
sqlite3.sqlite_version

'3.21.0'

In [7]:
sqlite3.sqlite_version_info

(3, 21, 0)

In [20]:
conn = sqlite3.connect(':memory:')
conn

In [21]:
type(conn)
dir(conn)

['DataError',
 'DatabaseError',
 'Error',
 'IntegrityError',
 'InterfaceError',
 'InternalError',
 'NotSupportedError',
 'OperationalError',
 'ProgrammingError',
 'Warning',
 '__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'close',
 'commit',
 'create_aggregate',
 'create_collation',
 'create_function',
 'cursor',
 'enable_load_extension',
 'execute',
 'executemany',
 'executescript',
 'in_transaction',
 'interrupt',
 'isolation_level',
 'iterdump',
 'load_extension',
 'rollback',
 'row_factory',
 'set_authorizer',
 'set_progress_handler',
 'set_trace_callback',
 'text_factory',
 'total_changes']

In [18]:
cur = conn.cursor()
cur

In [19]:
type(cur)
dir(cur)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'arraysize',
 'close',
 'connection',
 'description',
 'execute',
 'executemany',
 'executescript',
 'fetchall',
 'fetchmany',
 'fetchone',
 'lastrowid',
 'row_factory',
 'rowcount',
 'setinputsizes',
 'setoutputsize']

In [23]:
cur.execute("create table people (name_last, age)")

In [24]:
who = "Yeltsin"
age = 72

In [25]:
who

'Yeltsin'

In [26]:
age

72

In [27]:
cur.execute('insert into people values(?, ?)',(who, age))

In [28]:
cur.execute("select * from people where name_last=:who and age=:age",{'who':who, 'age':age})

In [29]:
print(cur.fetchone())

('Yeltsin', 72)

In [33]:
cur.fetchone()

In [34]:
sql = "insert into people values(?,?)"

In [35]:
data = [("1",1),("2",2),("3",3)]

In [38]:
cur.executemany(sql,data)

In [39]:
cur.executescript(
"""
    create table person(
       first_name text primary key,
       last_name text not null
    );
    
    insert into person values ('name','kim');
    """)

In [51]:
cur.execute('select * from people')
print(cur.fetchall())

[('Yeltsin', 72), ('1', 1), ('2', 2), ('3', 3)]

In [55]:
conn = sqlite3.connect('create.db')
print('Opened database successfully')

conn.execute('''
    CREATE TABLE COMPANY(
        ID INT PRIMARY KEY    NOT NULL,
        NAME           TEXT   NOT NULL,
        AGE            INT    NOT NULL,
        ADDRESS        CHAR(50),
        SALARY         REAL);
    ''')
print("Table created successfully")

Opened database successfully
Table created successfully

In [59]:
conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
              VALUES (1, 'Paul', 32, 'California', 2000.00 )");
conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
              VALUES (:id, :name, :age, :address, :salary)",
            {'id':2, 'name':'Allen', 'age':25, 'address':'Texas', 'salary':1500.00});
data = [(3, 'Teddy', 23, 'Norway ', 200000.00 ),
        (4, 'Mark', 25, 'Rich-Mond ', 65000.00 )]
conn.executemany("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY)\
VALUES (?,?,?,?,?)",data);
conn.executescript('''
    INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY)
    VALUES (5,'Mark1', 25, 'Rich-Mond ',65000.00 );
    
    INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY)
    VALUES (6, 'Mark2', 25, 'Rich-Mond ', 65000.00 );
''');

conn.commit()
print("Records created successfully")

IntegrityError: UNIQUE constraint failed: COMPANY.ID

In [63]:
temp = conn.execute('SELECT id, name, address, salary from COMPANY')

for row in temp:
    print('ID= ',row[0])
    print('NAME= ',row[1])
    print('ADDRESS= ',row[2])
    print('SALARY= ', row[3], end= '\n\n')
    
print('Operaton done successfully')

ID=  1
NAME=  Paul
ADDRESS=  California
SALARY=  2000.0

ID=  2
NAME=  Allen
ADDRESS=  Texas
SALARY=  1500.0

ID=  3
NAME=  Teddy
ADDRESS=  Norway
SALARY=  200000.0

ID=  4
NAME=  Mark
ADDRESS=  Rich-Mond
SALARY=  65000.0

ID=  5
NAME=  Mark1
ADDRESS=  Rich-Mond
SALARY=  65000.0

ID=  6
NAME=  Mark2
ADDRESS=  Rich-Mond
SALARY=  65000.0

Operaton done successfully

In [62]:
temp

In [ ]:
conn.execute("DELETE from COMPANY where ID = 2;")
print('Total number of rows deleted :', conn.total_changes)

In [66]:
cid = 1

conn.execute('UPDATE COMPANY set SALARY = 25000.00 where ID = :id', {'id':cid})
conn.commit()

print("Total number fo rows updated :",conn.total_charges)
cur = conn.execute('SELECT id, name, address, salary from COMPANY')
for row in cursor:
    print('ID = ', row[0])
    print("NAME =", row[1])
    print("ADDRESS= ", row[2])
    print("SALARY= ", row[3], "\n")

AttributeError: 'sqlite3.Connection' object has no attribute 'total_charges'

In [68]:
conn.execute('DELETE FROM test.db')

OperationalError: no such table: test.db