###  DB_Table

In [11]:
import sqlite3
conn = sqlite3.connect('Exc_180710.db')
cur = conn.cursor()

In [12]:
cur.executescript('''
    CREATE TABLE Artist (
    id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name TEXT
    );
    
    CREATE TABLE Genre (
    id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name TEXT
    );
    
    CREATE TABLE Album (
    id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    title TEXT,
    artist_id INTEGER
    );
''')

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 0))

OperationalError: table Artist already exists

In [13]:
cur.executescript('''
    CREATE TABLE Track (
        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
        title TEXT,
        length INTEGER,
        rating INTEGER,
        count INTEGER,
        album_id INTEGER,
        genre_id INTEGER
    )
''')

In [14]:
cur.executescript('''
    insert into Artist (name) values ('Led Zepplin');
    insert into Artist (name) values ('AC/DC');

    insert into Genre (name) values ('Rock');
    insert into Genre (name) values ('Metal');
    
    insert into Album (title, artist_id) values ('Who Made Who', 2);
    insert into Album (title, artist_id) values ('IV', 1);
    
    insert into Track (title, rating, length, count, album_id, genre_id)
    values ('Black Dog', 5, 297, 0, 2, 1);
    insert into Track (title, rating, length, count, album_id, genre_id)
    values ('Stairway', 5, 482, 0, 2, 1);
    insert into Track (title, rating, length, count, album_id, genre_id)
    values ('About to Rock', 5, 313, 0, 1, 2);
    insert into Track (title, rating, length, count, album_id, genre_id)
    values ('Who Made Who', 5, 207, 0, 1, 2)
''')

In [15]:
conn.commit()

In [16]:
cur.executescript('''
    select Track.title, Artist.name, Album.title, Genre.name
    from Track join Artist join Album join Genre on
            Track.album_id = Album.id
            and
            Track.genre_id = Genre.id
            and
            Album.artist_id = Artist.id
''')

In [17]:
cur.execute("select * from album left join track on album.id=track.album_id")

In [18]:
for row in cur.fetchall():
    print(row)

(1, 'Who Made Who', 2, 3, 'About to Rock', 313, 5, 0, 1, 2)
(1, 'Who Made Who', 2, 4, 'Who Made Who', 207, 5, 0, 1, 2)
(2, 'IV', 1, 1, 'Black Dog', 297, 5, 0, 2, 1)
(2, 'IV', 1, 2, 'Stairway', 482, 5, 0, 2, 1)