In [1]:
from sqlalchemy import create_engine, MetaData

engine = create_engine('sqlite:///Exc_180710_2.db', echo=True)
conn = engine.connect()

meta = MetaData(bind = engine, reflect=True)
meta.reflect(bind = engine)

for row in meta.tables:
    print(row)

2018-07-10 16:34:37,389 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-07-10 16:34:37,393 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:34:37,395 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-07-10 16:34:37,395 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:34:37,400 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2018-07-10 16:34:37,401 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:34:37,403 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")
2018-07-10 16:34:37,404 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:34:37,406 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2018-07-10 16:34:37,407 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:34:37,409 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Album")
2018-07-10 16:34:37,410 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:34:37,410 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2018-07-10 16:34:37,411 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:34:37,414 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")
2018-07-10 16:34:37,414 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:34:37,415 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2018-07-10 16:34:37,416 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:34:37,417 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Artist")
2018-07-10 16:34:37,417 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:34:37,418 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2018-07-10 16:34:37,419 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:34:37,420 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Artist")
2018-07-10 16:34:37,420 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:34:37,422 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Artist")
2018-07-10 16:34:37,423 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:34:37,424 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2018-07-10 16:34:37,425 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:34:37,431 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Album")
2018-07-10 16:34:37,432 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:34:37,432 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Album")
2018-07-10 16:34:37,433 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:34:37,434 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2018-07-10 16:34:37,434 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:34:37,436 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")
2018-07-10 16:34:37,436 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:34:37,437 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2018-07-10 16:34:37,438 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:34:37,439 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Genre")
2018-07-10 16:34:37,439 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:34:37,440 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2018-07-10 16:34:37,440 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:34:37,441 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Genre")
2018-07-10 16:34:37,441 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:34:37,442 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Genre")
2018-07-10 16:34:37,443 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:34:37,444 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2018-07-10 16:34:37,444 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:34:37,445 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")
2018-07-10 16:34:37,445 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:34:37,447 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2018-07-10 16:34:37,447 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:34:37,448 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Track")
2018-07-10 16:34:37,448 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:34:37,449 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2018-07-10 16:34:37,450 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:34:37,451 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Track")
2018-07-10 16:34:37,451 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:34:37,452 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Track")
2018-07-10 16:34:37,453 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:34:37,454 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2018-07-10 16:34:37,455 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:34:37,458 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2018-07-10 16:34:37,459 INFO sqlalchemy.engine.base.Engine ()
Album
Artist
Genre
Track

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SADeprecationWarning: reflect=True is deprecate; please use the reflect() method.

In [3]:
tables = meta.tables
for table in tables:
    print(table)

Album
Artist
Genre
Track

In [4]:
#album

track = meta.tables["Track"]
track

Table('Track', MetaData(bind=Engine(sqlite:///Exc_180710_2.db)), Column('id', INTEGER(), table=<Track>, primary_key=True, nullable=False), Column('title', VARCHAR(), table=<Track>, nullable=False), Column('length', INTEGER(), table=<Track>, nullable=False), Column('rating', INTEGER(), table=<Track>, nullable=False), Column('count', INTEGER(), table=<Track>, nullable=False), Column('album_id', INTEGER(), ForeignKey('Album.id'), table=<Track>), Column('genre_id', INTEGER(), ForeignKey('Genre.id'), table=<Track>), schema=None)

In [6]:
for row in conn.execute(track.select()).fetchall():
    print(row)
    
conn.close()
meta.clear()

2018-07-10 16:36:20,842 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track"
2018-07-10 16:36:20,843 INFO sqlalchemy.engine.base.Engine ()
(1, 'Black Dog', 297, 5, 0, 1, 1)
(2, 'Stairway', 482, 5, 0, 1, 2)
(3, 'About to rock', 313, 5, 0, 2, 1)
(4, 'Who Made Who', 297, 5, 0, 2, 2)