In [44]:
errno = 50159747054
name = 'kim'

# “Old Style” String Formatting (% operator) = printf

https://docs.python.org/ko/3/library/stdtypes.html#old-string-formatting

여러 가지 일반적인 오류를 (예를 들어 튜플과 딕셔너리를 올바르게 표시하지 못하는 것) 유발하는 다양한 문제점들이 있습니다. 새 포맷 문자열 리터럴나 str.format() 인터페이스 혹은 템플릿 문자열 을 사용하면 이러한 오류를 피할 수 있습니다. 이 대안들은 또한 텍스트 포매팅에 더욱 강력하고 유연하며 확장 가능한 접근법을 제공합니다.

In [45]:
'Hello, %s' % name

'Hello, kim'

In [46]:
'%x' % errno

'badc0ffee'

'Hey %s, there is a 0x%x error!' %(name, errno)

In [47]:
'Hey %(name)s, there is a 0x%(errno)x error!' %{'name':name, 'errno':errno}

'Hey kim, there is a 0xbadc0ffee error!'

In [48]:
first_name = "근영"
last_name = "문"
age = 30
profession = "배우"
affiliation = "나무"
"Hello, %s %s. You are %s. You are a %s. You were a member of %s." % (first_name, last_name, age, profession, affiliation)

'Hello, 근영 문. You are 30. You are a 배우. You were a member of 나무.'

# “New Style” String Formatting (str.format)

In [49]:
name = 'kim'
'Hello, {}'.format(name)

'Hello, kim'

In [50]:
'Hey {name}, there is a 0x{errno:x} error!'.format(name=name, errno=errno)

'Hey kim, there is a 0xbadc0ffee error!'

In [51]:
"Hello, {}. You are {}.".format(name, age)

'Hello, kim. You are 30.'

In [52]:
"Hello, {1}. You are {0}.".format(age, name)

'Hello, kim. You are 30.'

In [53]:
person = {'name': 'Eric', 'age': 74}
"Hello, {name}. You are {age}.".format(name=person['name'], age=person['age'])

'Hello, Eric. You are 74.'

In [54]:
person = {'name': 'Eric', 'age': 74}
"Hello, {name}. You are {age}.".format(**person)

#[unpacking] *: list or tuple, **: dict

'Hello, Eric. You are 74.'

In [55]:
first_name = "근영"
last_name = "문"
age = 30
profession = "배우"
affiliation = "나무"
print(("Hello, {first_name} {last_name}. You are {age}. " + 
        "You are a {profession}. You were a member of {affiliation}.") \
        .format(first_name=first_name, last_name=last_name, age=age, \
        profession=profession, affiliation=affiliation))

Hello, 근영 문. You are 30. You are a 배우. You were a member of 나무.

# String Interpolation / f-Strings (Python 3.6+)

In [56]:
name = 'Kim'
f'Hello, {name}!'
# f: format string

'Hello, Kim!'

In [57]:
def b():
    return 'function!!'
f'Hello, {b()}'

'Hello, function!!'

In [58]:
F'Hello, {name}!'

'Hello, Kim!'

In [59]:
a = 5
b = 10
f'Five plus ten is not {2 * (a + b)} but {a + b}.'

'Five plus ten is not 30 but 15.'

In [60]:
def greet(name, question):
    return f"Hello, {name}! How's it {question}?"

greet('Bob', 'going')

# def greet2(name, question):
#     return "Hello, " + name + "! How's it " + question + "?"
# greet2('Bob', 'going')

"Hello, Bob! How's it going?"

In [61]:
f"Hey {name}, there's a {errno:#x} error!"

"Hey Kim, there's a 0xbadc0ffee error!"

In [62]:
f"{2 * 37}"

'74'

In [63]:
def to_lowercase(input):
    return input.lower()

In [64]:
name = "Eric idle"
f"{to_lowercase(name)} is funny."

'eric idle is funny.'

In [65]:
f"{name.lower()} is funny."

'eric idle is funny.'

In [66]:
class Comedian:
    def __init__(self, first_name, last_name, age):
        self.first_name = first_name
        self.last_name = last_name
        self.age = age

    def __str__(self):
        return f"{self.first_name} {self.last_name} is {self.age}."

    def __repr__(self):
        return f"{self.first_name} {self.last_name} is {self.age}. Surprise!"

In [67]:
new_comedian = Comedian("Eric", "Idle", "74")
f"{new_comedian}"
f"{new_comedian!r}"

'Eric Idle is 74. Surprise!'

In [68]:
message = (
    f"Hi {name}. "
    "You are a {profession}. "
     "You were in {affiliation}."
)
message

'Hi Eric idle. You are a {profession}. You were in {affiliation}.'

In [69]:
message = f"Hi {name}. " \
    f"You are a {profession}. " \
    f"You were in {affiliation}."

message

'Hi Eric idle. You are a 배우. You were in 나무.'

In [70]:
message = f"""
     Hi {name}. 
    You are a {profession}. 
You were in {affiliation}.
"""

message

'\n     Hi Eric idle. \n    You are a 배우. \nYou were in 나무.\n'

---

In [71]:
%%timeit 
"""name = "Eric"
    age = 74
    '%s is %s.' % (name, age)"""

8.59 ns ± 0.249 ns per loop (mean ± std. dev. of 7 runs, 100000000 loops each)

In [72]:
%%timeit 
"""name = "Eric"
    age = 74
    '{} is {}.'.format(name, age)"""

8.64 ns ± 0.371 ns per loop (mean ± std. dev. of 7 runs, 100000000 loops each)

In [73]:
%%timeit 
"""name = "Eric"
    age = 74
    f'{name} is {age}.'"""

13.5 ns ± 1.04 ns per loop (mean ± std. dev. of 7 runs, 100000000 loops each)

## 주의

In [74]:
f"{'Eric Idle'}"
f'{"Eric Idle"}'
f"""Eric Idle"""
f'''Eric Idle'''
f"The \"comedian\" is {name}, aged {age}."

'The "comedian" is Eric idle, aged 30.'

In [75]:
comedian = {'name': 'Eric Idle', 'age': 74}
f"The comedian is {comedian['name']}, aged {comedian['age']}."

'The comedian is Eric Idle, aged 74.'

In [77]:
f'The comedian is {comedian['name']}, aged {comedian['age']}.'

SyntaxError: invalid syntax (<ipython-input-77-cd7d8a3db23b>, line 1)

In [ ]:
f"{{74}}"
f"{{{74}}}"
f"{{{{74}}}}"

In [ ]:
f"{\"Eric Idle\"}"

In [ ]:
f"Eric is {2 * 37 #Oh my!}."

# Template Strings (Standard Library)

In [ ]:
name = 'kim'
from string import Template
t = Template('Hey, $name!')
t.substitute(name = name)
# $: 나중에 바꿀 인수
# 진저 패키지: 미리 표시한 곳 대체

In [ ]:
name

In [ ]:
templ_string = 'Hey $name, there is a $error error!'

In [ ]:
Template(templ_string).substitute(name=name, error=hex(errno))

## http://lucumr.pocoo.org/2016/12/29/careful-with-str-format/

In [ ]:
SECRET ='문근영'

class Error:
    def __init__(self):
        pass

In [ ]:
user_input = '{error.__init__.__globals__[SECRET]}'

In [ ]:
err = Error()
user_input.format(error=err)

In [ ]:
user_input = '${error.__init__.__globals__[SECRET]}'

In [ ]:
Template(user_input).substitute(error=err)